In [1]:
# general imports
import pandas as pd
import numpy as np
import seaborn as sns
import json
import requests
import datetime
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
pd.options.display.max_seq_items = 4000
pd.set_option('display.max_columns', 1000)  # or 1000
pd.set_option('display.max_rows', 1000)  # or 1000
pd.set_option('display.max_colwidth', 199)  # or 199

sns.set(style='darkgrid', palette='muted', color_codes=True)

# Magic command useful jupyter notebook
%matplotlib inline

#Set plot size.
plt.rcParams['figure.figsize'] = [13,7]

#Set font size
plt.rcParams.update({'font.size':16})

In [2]:
df_crash = pd.read_csv('data/Motor_Vehicle_Collisions_-_Crashes.csv')
df_vehicle = pd.read_csv('data/Motor_Vehicle_Collisions_-_Vehicles.csv')
df_people = pd.read_csv('data/Motor_Vehicle_Collisions_-_Person.csv')

## Clean crash dataset


In this section the data has been cleaned in the following way:

- See number of NaNs for all columns. Select the rows for furtner analysis
- Remove data without location
- Replace all null values except borough with 0 or 'Unspecified'
- Enrich Burough dataset

In [3]:
df_crash.head(50)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,05/14/2016,18:00,BRONX,10472,NaN,NaN,NaN,WHITE PLAINS ROAD,CROSS BRONX EXPRESSWAY,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3443839,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
1,06/01/2016,13:54,QUEENS,11414,40.655834,-73.839035,POINT (-73.839035 40.655834),CROSS BAY BOULEVARD,161 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3453947,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,05/23/2016,6:15,NaN,NaN,40.752937,-73.922040,POINT (-73.92204 40.752937),NORTHERN BOULEVARD,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3452402,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3,06/03/2016,11:00,NaN,NaN,40.680893,-73.871376,POINT (-73.871376 40.680893),GLEN STREET,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,3482311,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4,06/03/2016,17:15,QUEENS,11422,40.665558,-73.729850,POINT (-73.72985 40.665558),HOOK CREEK BOULEVARD,SUNRISE HIGHWAY,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3455499,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
5,06/04/2016,13:20,BROOKLYN,11207,40.689530,-73.909134,POINT (-73.909134 40.68953),NaN,NaN,166 COVERT STREET,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3455042,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
6,05/19/2016,12:50,QUEENS,11375,40.722940,-73.836876,POINT (-73.836876 40.72294),NaN,NaN,69-70 GRAND CENTRAL PARKWAY,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3444578,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
7,05/12/2016,3:35,MANHATTAN,10010,40.738316,-73.987730,POINT (-73.98773 40.738316),EAST 20 STREET,PARK AVENUE SOUTH,NaN,2.0,0.0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,3439699,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
8,05/27/2016,14:20,NaN,NaN,40.764770,-73.794900,POINT (-73.7949 40.76477),35 AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3451983,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
9,05/27/2016,6:30,BRONX,10463,40.878160,-73.902756,POINT (-73.902756 40.87816),NaN,NaN,147 WEST 231 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3446981,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
10,05/25/2016,9:05,NaN,NaN,40.755802,-73.986404,POINT (-73.986404 40.755802),WEST 42 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3447977,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
11,05/27/2016,19:00,NaN,NaN,40.705887,-73.942970,POINT (-73.94297 40.705887),BOERUM STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,3451142,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
12,05/13/2016,19:00,NaN,NaN,40.614430,-74.039566,POINT (-74.039566 40.61443),Belt Pkwy,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3442389,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
13,05/20/2016,0:59,QUEENS,11413,40.682983,-73.746840,POINT (-73.74684 40.682983),NaN,NaN,130-51 220 STREET,0.0,0.0,0,0,0,0,0,0,Outside Car Distraction,Unspecified,NaN,NaN,NaN,3444789,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
14,05/18/2016,21:15,QUEENS,11363,40.768906,-73.736960,POINT (-73.73696 40.768906),NORTHERN BOULEVARD,CORNELL LANE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3452101,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
15,05/16/2016,15:20,QUEENS,11369,40.764740,-73.870600,POINT (-73.8706 40.76474),NaN,NaN,99-14 25 AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3443609,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
16,06/01/2016,14:30,NaN,NaN,NaN,NaN,NaN,ED KOCH BRIDGE,VERNON BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3453999,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
17,05/24/2016,9:03,STATEN ISLAND,10306,40.562130,-74.118190,POINT (-74.11819 40.56213),HYLAN BOULEVARD,OAK AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3452710,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
18,05/31/2016,15:45,BRONX,10467,40.869950,-73.870540,POINT (-73.87054 40.86995),NaN,NaN,3000 BRONX PARK EAST,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3453273,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
19,05/15/2016,17:45,QUEENS,11101,40.754337,-73.920400,POINT (-73.9204 40.754337),NaN,NaN,42-11 35 AVENUE,2.0,0.0,0,0,0,0,2,0,Driver Inexperience,Unspecified,Unspecified,NaN,NaN,3442873,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
20,05/23/2016,20:29,QUEENS,11361,40.757626,-73.780106,POINT (-73.780106 40.757626),NORTHERN BOULEVARD,203 STREET,NaN,1.0,0.0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,3452133,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
21,05/27/2016,15:00,NaN,NaN,40.672234,-73.884710,POINT (-73.88471 40.672234),ASHFORD STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3450587,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
22,06/02/2016,10:20,BROOKLYN,11210,40.626890,-73.945885,POINT (-73.945885 40.62689),AVENUE J,EAST 31 STREET,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3454493,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
23,06/02/2016,18:06,BROOKLYN,11207,40.673980,-73.899315,POINT (-73.899315 40.67398),LIBERTY AVENUE,ALABAMA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3456267,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
24,05/12/2016,19:30,NaN,NaN,40.719864,-73.944860,POINT (-73.94486 40.719864),BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Following Too Closely,Unspecified,NaN,NaN,3442598,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN
25,04/13/2020,12:20,NaN,NaN,NaN,NaN,NaN,NEW ENGLAND THRUWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,4308754,Sedan,Box Truck,NaN,NaN,NaN
26,05/27/2016,16:20,QUEENS,11412,40.696274,-73.755990,POINT (-73.75599 40.696274),NaN,NaN,115-49 197 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3446642,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
27,05/27/2016,1:17,MANHATTAN,10002,40.719970,-73.992905,POINT (-73.992905 40.71997),CHRYSTIE STREET,DELANCEY STREET,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3679683,TAXI,BICYCLE,NaN,NaN,NaN
28,06/03/2016,20:35,BRONX,10472,40.829230,-73.875510,POINT (-73.87551 40.82923),WESTCHESTER AVENUE,STRATFORD AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3456830,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
29,05/20/2016,11:25,NaN,NaN,40.721115,-73.805510,POINT (-73.80551 40.721115),162 STREET,UNION TURNPIKE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3451762,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
30,05/31/2016,11:00,BRONX,10470,40.902615,-73.851090,POINT (-73.85109 40.902615),NaN,NaN,4635 WHITE PLAINS ROAD,2.0,0.0,0,0,0,0,2,0,Driver Inexperience,Turning Improperly,NaN,NaN,NaN,3447261,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
31,05/25/2016,7:08,NaN,NaN,NaN,NaN,NaN,QUEENS PLAZA,QUEENSBORO BRIDGE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3451878,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
32,05/13/2016,17:00,QUEENS,11413,40.666450,-73.757640,POINT (-73.75764 40.66645),SPRINGFIELD BOULEVARD,NORTH CONDUIT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3441355,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
33,05/20/2016,12:00,BROOKLYN,11206,40.700210,-73.953896,POINT (-73.953896 40.70021),LEE AVENUE,LORIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3451085,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
34,05/22/2016,20:12,NaN,NaN,40.888992,-73.889200,POINT (-73.8892 40.888992),Major Deegan Expy,NaN,NaN,0.0,1.0,0,0,0,0,0,1,Unsafe Speed,Unspecified,NaN,NaN,NaN,3445289,MOTORCYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
35,06/01/2016,7:11,MANHATTAN,10035,40.805637,-73.934400,POINT (-73.9344 40.805637),EAST 128 STREET,3 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3454399,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
36,05/16/2016,17:42,BRONX,10467,40.879170,-73.871376,POINT (-73.871376 40.87917),NaN,NaN,3510 WEBSTER AVENUE,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,3443914,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
37,05/12/2016,20:40,BROOKLYN,11238,40.674572,-73.963140,POINT (-73.96314 40.674572),WASHINGTON AVENUE,STERLING PLACE,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3441219,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
38,05/26/2016,12:51,NaN,NaN,40.756670,-73.828804,POINT (-73.828804 40.75667),SANFORD AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3451968,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
39,05/16/2016,6:20,NaN,NaN,40.664960,-73.822260,POINT (-73.82226 40.66496),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3444917,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN
40,05/30/2016,2:00,BRONX,10454,40.807556,-73.919235,POINT (-73.919235 40.807556),EAST 138 STREET,BROOK AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3448913,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
41,05/19/2016,15:25,BROOKLYN,11209,40.635143,-74.027530,POINT (-74.02753 40.635143),NaN,NaN,255 OVINGTON AVENUE,0.0,0.0,0,0,0,0,0,0,Other Vehicular,NaN,NaN,NaN,NaN,3444733,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
42,05/29/2016,15:15,NaN,NaN,40.728950,-73.971820,POINT (-73.97182 40.72895),Franklin D Roosevelt Dr,NaN,NaN,5.0,0.0,0,0,0,0,5,0,Following Too Closely,Unspecified,Unspecified,NaN,NaN,3447198,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
43,05/12/2016,17:15,BRONX,10473,40.821390,-73.866120,POINT (-73.86612 40.82139),NaN,NaN,810 SOUND VIEW AVENUE,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,NaN,NaN,NaN,3440524,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
44,06/02/2016,16:45,NaN,NaN,40.724895,-73.855130,POINT (-73.85513 40.724895),WETHEROLE STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3454816,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
45,05/23/2016,7:00,BROOKLYN,11221,40.691372,-73.912040,POINT (-73.91204 40.691372),NaN,NaN,1185 HANCOCK STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3446782,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
46,06/02/2016,14:59,NaN,NaN,NaN,NaN,NaN,BELT PKWY,NaN,NaN,2.0,0.0,0,0,0,0,2,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3454475,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
47,05/29/2016,15:50,NaN,NaN,40.646470,-74.012580,POINT (-74.01258 40.64647),50 STREET,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Unsafe Speed,NaN,NaN,NaN,NaN,3450435,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
48,06/01/2016,18:47,MANHATTAN,10005,40.703570,-74.008040,POINT (-74.00804 40.70357),NaN,NaN,32 OLD SLIP,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3452830,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
49,05/22/2016,15:50,MANHATTAN,10001,40.746056,-73.986700,POINT (-73.9867 40.746056),NaN,NaN,1 WEST 30 STREET,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,3620801,4 dr sedan,NaN,NaN,NaN,NaN

In [4]:
df_crash.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           509839
ZIP CODE                          510046
LATITUDE                          201721
LONGITUDE                         201721
LOCATION                          201721
ON STREET NAME                    330899
CROSS STREET NAME                 570911
OFF STREET NAME                  1433844
NUMBER OF PERSONS INJURED             17
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4518
CONTRIBUTING FACTOR VEHICLE 2     227813
CONTRIBUTING FACTOR VEHICLE 3    1563865
CONTRIBUTING FACTOR VEHICLE 4    1649657
CONTRIBUTING FACTOR VEHICLE 5    1666553
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 5944
VEHICLE TYPE CODE 2               280627
VEHICLE TYPE CODE 3              1535028
VEHICLE TYPE CODE 4              1621922
VEHICLE TYPE CODE 5              1661476
dtype: int64

In [5]:
df_crash = df_crash[['CRASH DATE','CRASH TIME','BOROUGH', 'LATITUDE', 'LONGITUDE',\
         'ON STREET NAME', 'CROSS STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',\
          'NUMBER OF PEDESTRIANS INJURED','NUMBER OF PEDESTRIANS KILLED','NUMBER OF CYCLIST INJURED','NUMBER OF CYCLIST KILLED',\
          'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED','CONTRIBUTING FACTOR VEHICLE 1',\
         'CONTRIBUTING FACTOR VEHICLE 2','COLLISION_ID','VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']]

In [6]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          509839
LATITUDE                         201721
LONGITUDE                        201721
ON STREET NAME                   330899
CROSS STREET NAME                570911
NUMBER OF PERSONS INJURED            17
NUMBER OF PERSONS KILLED             31
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4518
CONTRIBUTING FACTOR VEHICLE 2    227813
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5944
VEHICLE TYPE CODE 2              280627
dtype: int64

In [7]:
df_crash.dropna(subset=['LATITUDE', 'LONGITUDE'],inplace=True)

In [8]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          338064
LATITUDE                              0
LONGITUDE                             0
ON STREET NAME                   278364
CROSS STREET NAME                496102
NUMBER OF PERSONS INJURED            15
NUMBER OF PERSONS KILLED             28
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4034
CONTRIBUTING FACTOR VEHICLE 2    204314
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5568
VEHICLE TYPE CODE 2              254536
dtype: int64

In [9]:
values = {'ON STREET NAME': 'Unspecified', 'NUMBER OF PERSONS INJURED': 'Unspecified', 'NUMBER OF PERSONS KILLED': 'Unspecified',\
          'CONTRIBUTING FACTOR VEHICLE 1': 'Unspecified','CONTRIBUTING FACTOR VEHICLE 2': 'Unspecified',\
         'VEHICLE TYPE CODE 1': 'UNKNOWN','VEHICLE TYPE CODE 2': 'Unspecified', 'BOROUGH': 'Unspecified'}
df_crash.fillna(value=values,inplace=True)

In [10]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                               0
LATITUDE                              0
LONGITUDE                             0
ON STREET NAME                        0
CROSS STREET NAME                496102
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1         0
CONTRIBUTING FACTOR VEHICLE 2         0
COLLISION_ID                          0
VEHICLE TYPE CODE 1                   0
VEHICLE TYPE CODE 2                   0
dtype: int64

In [11]:
df_crash = df_crash.dropna()

### Now for cleaning the strings

In [12]:
df_crash.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
LATITUDE                         float64
LONGITUDE                        float64
ON STREET NAME                    object
CROSS STREET NAME                 object
NUMBER OF PERSONS INJURED         object
NUMBER OF PERSONS KILLED          object
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
dtype: object

In [13]:
df_crash.groupby('VEHICLE TYPE CODE 1')['COLLISION_ID'].nunique()

VEHICLE TYPE CODE 1
(ceme                                          1
1                                              1
12 Pa                                          1
15 Pa                                          1
19720                                          1
2 WHE                                          1
2 dr sedan                                    24
3 WHE                                          2
3-Door                                        41
315 e                                          1
3D                                             7
4 RUN                                          1
4 dr sedan                                   446
4D                                             1
4DS                                            1
4DSD                                           2
ABULA                                          1
ACCES                                          2
AM                                           131
AMB                                           10
AMBU                                           5
AMBUL                                        112
AMBULANCE                                   1917
AMbul                                          1
APPOR                                          1
AR                                            21
ARMOR                                          1
Acces                                          1
Amb                                            1
Ambul                                         27
Ambulance                                    509
Armored Truck                                 54
BA                                             2
BACK                                           2
BACKH                                          4
BICYCLE                                     3150
BK                                             1
BOX                                            2
BOX T                                          7
BR                                            15
BS                                             3
BTM                                            1
BU                                          1126
BUCKE                                          1
BULLD                                          1
BUS                                        11910
Beverage Truck                                39
Bicyc                                          1
Bike                                        2200
Box T                                          1
Box Truck                                   3857
Box t                                          1
Budge                                          1
Bulk Agriculture                               7
Bus                                         3918
CABIN                                          1
CAMP                                           1
CARGO                                          2
CART                                           1
CAT P                                          1
CB                                            30
CHERR                                          1
CITY                                           1
CM                                            17
CMS-T                                          1
CO                                             2
COM                                           13
COM T                                          1
COMER                                          1
COMM                                           1
COMME                                         12
COMMU                                          1
CONST                                          2
CONT                                           1
CONV                                         169
COURI                                          1
CRANE                                          2
Carry All                                    340
Chassis Cab                                  109
City                                           1
Comme                                          2
Concrete Mixer                                90
Const                                          1
Convertible                                  607
D/V W                                          1
DELIV                                         14
DELV                                           9
DIRT                                           1
DOT T                                          1
DP                                           158
DS                                           319
DUMP                                          17
DUMPT                                          1
DUNBA                                          1
Deliv                                          1
Delv                                           1
Dump                                         618
Dumps                                          1
E BIK                                          4
E SCO                                          1
E-BIK                                          4
E-Bik                                         81
E-Sco                                         87
EBIKE                                          2
ECONO                                          1
ELEC.                                          1
ELECT                                         16
EMRGN                                          1
EMS H                                          1
EN                                             2
ENGIN                                          1
EXCAV                                          1
Enclosed Body - Nonremovable Enclosure         1
Enclosed Body - Removable Enclosure            2
FB                                            96
FD tr                                          1
FDNY                                          40
FIRE                                          32
FIRE TRUCK                                   692
FIRET                                         12
FLAT                                           4
FLATB                                          2
FORD                                           4
FORK                                           1
FORKL                                          6
FR                                            11
FREIG                                          8
FRHT                                           2
FRONT                                          1
FUEL                                           1
Fd fi                                          1
Fdny                                           1
Fire                                          18
Firet                                          3
Flat Bed                                     342
Flat Rack                                     60
Forkl                                          3
G COM                                          1
GARBA                                          2
GG                                            86
GOLF                                           1
GOVER                                          2
GRAY                                           1
GRUMM                                          1
Garba                                          1
Garbage or Refuse                            348
Glass Rack                                     2
Grain                                          1
HI TA                                          1
HINO                                           1
HO                                             1
HWY C                                          1
Hand                                           1
Hopper                                         9
Humme                                          1
INTER                                          1
IP                                             1
Ice c                                          1
LADDE                                          1
LARGE COM VEH(6 OR MORE TIRES)              9992
LF                                             5
LIEBH                                          1
LIMO                                          40
LIVERY VEHICLE                              8534
LL                                            77
LP                                             1
LTRL                                           1
Lift Boom                                     39
Limou                                          1
Livestock Rack                                 2
Lunch Wagon                                    5
MAC T                                          1
MACK                                           5
MAIL                                           6
MAXIM                                          1
MB                                            14
MD                                            13
MILLI                                          1
MOPD                                           1
MOPED                                          8
MOTOR                                          4
MOTORCYCLE                                  4025
MS                                            20
MTA B                                          4
MTA C                                          1
Minibike                                       7
Minicycle                                      7
Mo pa                                          1
Moped                                        117
Motor                                          1
Motor Home                                     1
Motorbike                                     61
Motorcycle                                   900
Motorized Home                                 8
Motorscooter                                 100
Multi-Wheeled Vehicle                         15
NAVIG                                          1
NEW Y                                          1
NTTRL                                          1
NYC B                                          1
NYC D                                          1
NYC F                                          1
NYC M                                          1
NYPD                                           2
OMNIB                                          2
OMR                                            7
OMS                                            1
OMT                                            2
OTHER                                      18159
Open Body                                     10
P/SH                                           2
PAS                                           10
PASS                                           1
PASSENGER VEHICLE                         433322
PC                                             1
PEDICAB                                       23
PICK-                                          1
PICK-UP TRUCK                              13516
PICKU                                          3
PK                                           414
PL                                             3
PM                                             5
POIS                                           1
POSTA                                          6
POSTO                                          1
POWER                                          6
PSD                                            3
PSH                                            1
PU                                             1
PUSH                                           1
Pallet                                         8
Pedicab                                        9
Pick                                           2
Pick-                                          1
Pick-up Truck                               5476
Pickup with mounted Camper                     6
Porta                                          1
R/V                                            1
R/V C                                          1
REFG                                           6
REFRI                                          2
RENTA                                          1
REP                                            2
REPAI                                          1
RF                                            21
ROAD                                           1
RV                                             5
Refrigerated Van                              67
Renta                                          1
SANIT                                          5
SANTI                                          1
SC                                             1
SCHOO                                         19
SCOO                                           1
SCOOT                                         14
SCOOTER                                      215
SE                                             1
SEA                                            1
SEGWA                                          1
SELF                                           6
SEMI                                           2
SEMI-                                          1
SKATE                                          3
SMALL COM VEH(4 TIRES)                     11029
SP                                            10
SPC                                            2
SPORT UTILITY / STATION WAGON             189633
SPRIN                                          1
ST                                             7
STAK                                           2
STREE                                          7
SUB                                            1
SUBN/                                          1
SUBUR                                          1
SUV                                            3
SW                                             2
SWEEP                                          1
SYBN                                           1
Sanit                                          2
Schoo                                          2
School Bus                                    29
Scoot                                          4
Sedan                                      84803
Semi                                           1
Smart                                          1
Snow                                           1
Snow Plow                                      6
Spc                                            1
Sprin                                          1
St                                             1
Stake or Rack                                 22
Station Wagon/Sport Utility Vehicle        67724
Stree                                          2
Subn                                           1
Sweep                                          1
T880                                           1
TANK                                           4
TANKE                                          4
TAXI                                       36759
TF                                             1
TIR                                            1
TK                                          1041
TN                                            38
TOW                                            1
TOW T                                         12
TR                                            68
TR-Tr                                          1
TRAC                                           6
TRAC.                                          1
TRACK                                          1
TRACT                                         21
TRAIL                                         49
TRANS                                          1
TRK                                            4
TRL                                            4
TRLR                                           2
TRUCK                                         53
TT                                            50
Tanker                                       130
Taxi                                        9006
Tow                                            1
Tow T                                          2
Tow Truck                                      3
Tow Truck / Wrecker                          218
Tow t                                          1
Tract                                          2
Tractor Truck Diesel                        1354
Tractor Truck Gasoline                       257
Trail                                          7
Truck                                          1
U.S.                                           1
UHAUL                                          2
UHUAL                                          2
UNK                                            2
UNKNO                                         11
UNKNOWN                                    19569
US PO                                          1
US Po                                          1
USP M                                          1
USPOS                                          1
USPS                                          19
USPS2                                          1
UT                                             2
UTIL                                           6
UTILI                                          8
Util                                           1
Utili                                          2
VAB                                            1
VAN                                        20904
VAN T                                          3
VAN/T                                          1
VAV                                            1
VC                                             2
VN                                           334
Van                                         1399
Van Camper                                     3
Vanette                                        3
WAGON                                          1
WD                                             1
WHEEL                                          1
WINNE                                          1
WORK                                           2
Well Driller                                   2
YELLO                                          4
ambu                                           4
ambul                                         26
backh                                          2
box t                                          6
bus                                            4
cater                                          1
com                                            1
comm                                           1
comm.                                          1
comme                                          2
deliv                                          4
delv                                           2
delvi                                          1
dp                                             1
dump                                           3
dumps                                          1
e com                                          1
e sco                                          1
e-bik                                          1
east                                           1
elect                                          4
ems b                                          1
f550                                           1
fd tr                                          1
fdny                                           7
fire                                          10
firet                                          3
flat                                           1
food                                           2
ford                                           1
g spc                                          1
garba                                          5
ice c                                          1
icecr                                          1
mail                                           1
mc                                             1
miniv                                          1
mopad                                          1
moped                                          3
motor                                          2
mta                                            1
mta b                                          2
mtr s                                          1

In [14]:
df_crash.groupby('VEHICLE TYPE CODE 2')['COLLISION_ID'].nunique()

VEHICLE TYPE CODE 2
00                                             1
013                                            1
1                                              1
11 PA                                          1
12 PA                                          1
16M                                            1
2 dr sedan                                    16
3-Door                                        33
3D                                            13
4 dr sedan                                   360
4DS                                            1
4DSD                                           1
600AJ                                          1
994                                            1
ALUMI                                          1
AM                                            71
AMB                                            4
AMBU                                           8
AMBUL                                         60
AMBULANCE                                    993
APURP                                          1
AR                                            16
ARMOR                                          1
Ambul                                         21
Ambulance                                    282
Armored Truck                                 51
BACK                                           2
BACKH                                          4
BICYCLE                                    21218
BK                                             2
BLOCK                                          1
BLU B                                          1
BOB C                                          1
BOBCA                                          1
BOOM                                           1
BOX                                            1
BOX T                                         19
BR                                            11
BROOM                                          1
BROWN                                          1
BU                                          1019
BULLD                                          3
BUMP                                           1
BUS                                         9650
Backh                                          1
Beverage Truck                                51
Bike                                        4344
Box T                                          1
Box Truck                                   4355
Bulk Agriculture                              18
Bus                                         3183
C0MME                                          1
CARGO                                          2
CASE                                           1
CAT                                            2
CAT32                                          1
CATER                                          2
CB                                            27
CHERR                                          1
CITY                                           1
CM                                            30
CMIX                                           2
COM                                           15
COMER                                          1
COMME                                          8
CONCR                                          1
CONST                                          2
CONT                                           1
CONV                                         111
CRANE                                          3
CRWZK                                          1
Cargo                                          1
Carri                                          1
Carry All                                    287
Cater                                          1
Chassis Cab                                  100
City                                           1
Com t                                          1
Comme                                          4
Concrete Mixer                                97
Convertible                                  394
Crane                                          1
DELIV                                         13
DELV                                          10
DELV.                                          1
DETAC                                          1
DIG-I                                          1
DIRT                                           1
DIRTB                                          1
DP                                           161
DS                                           358
DSNY                                           1
DUMP                                          22
DUMPS                                          1
Dump                                         623
E BIK                                          3
E Bik                                          3
E PAS                                          1
E SCO                                          2
E-BIK                                         17
E-Bik                                        157
E-SCO                                          1
E-Sco                                        150
EBIKE                                          2
ECONO                                          1
ELECT                                         22
EMS A                                          1
EMT                                            1
ENCLO                                          1
ENGIN                                          1
ESCAV                                          1
EXCAV                                          2
Elect                                         10
Enclosed Body - Nonremovable Enclosure         1
FB                                            99
FD TR                                          3
FDNY                                          42
FEDER                                          2
FEDEX                                          1
FIRE                                          38
FIRE TRUCK                                   490
FIRET                                         16
FLAT                                           4
FLATB                                          2
FOOD                                           3
FORD                                           3
FORK                                           5
FORKL                                         15
FR                                            10
FRE T                                          1
FREIG                                          4
Fire                                           7
Firet                                          1
Flat Bed                                     399
Flat Rack                                     45
Food                                           1
Fork                                           2
Forkl                                          2
Freig                                          1
G PAS                                          1
GARAB                                          1
GARBA                                          5
GAS S                                          1
GAS T                                          1
GATOR                                          1
GG                                            88
GLBEN                                          1
GN                                             1
GOLF                                           1
GOV                                            1
GOV'T                                          1
GOVER                                          3
Garba                                          1
Garbage or Refuse                            315
Glass Rack                                     3
HARVE                                          1
HI-LO                                          1
HINO                                           3
Hopper                                         4
INTER                                          3
JOHN                                           1
JOHND                                          1
KENWO                                          1
LADDE                                          2
LARGE COM VEH(6 OR MORE TIRES)              9331
LF                                             8
LIFT                                           1
LIGHT                                          1
LIMO                                          31
LIMOU                                          3
LIVERY VEHICLE                              6799
LL                                            82
LW                                             1
Liebh                                          1
Lift Boom                                     28
Light                                          1
Livestock Rack                                 3
Lunch Wagon                                    3
MACK                                           5
MAIL                                           1
MAN B                                          1
MAN L                                          2
MB                                            10
MD                                            19
MINI                                           1
MK                                             3
MOBIL                                          1
MOPD                                           1
MOPED                                         16
MOTOR                                         12
MOTORCYCLE                                  3899
MS                                            20
MTA B                                          8
MTA b                                          2
MTRIZ                                          1
MV                                             1
Mini                                           1
Minibike                                       9
Minicycle                                      3
Moped                                        112
Mopen                                          1
Motor                                          2
Motorbike                                     77
Motorcycle                                   792
Motorized Home                                 4
Motorscooter                                  88
Multi-Wheeled Vehicle                         13
ND                                             1
NEW Y                                          1
NV CA                                          1
NYC D                                          1
NYC F                                          2
OIL T                                          1
OLM                                            1
OML/                                           1
OMNIB                                          1
OMT                                            2
OP                                             3
OTHER                                      18036
Open Body                                     12
P/SH                                           1
PAS                                            6
PASS                                           2
PASSENGER VEHICLE                         324581
PC                                             2
PCH                                            1
PEDICAB                                       99
PICK-                                          1
PICK-UP TRUCK                              12567
PICKU                                          4
PISH                                           1
PK                                           366
PL                                             2
PM                                             1
POSTA                                          4
POWER                                          9
PSD                                            2
PU                                             1
Pallet                                         8
Passe                                          1
Pavin                                          1
Pedicab                                       20
Pick-up Truck                               5152
Picku                                          1
Pickup with mounted Camper                     8
Pumpe                                          1
RAZOR                                          1
RD/S                                           2
REFG                                           2
REP                                            1
RF                                            23
RGS                                            1
ROAD                                           1
RV                                             2
Refri                                          1
Refrigerated Van                              73
Rescu                                          1
Road                                           1
SANIT                                          4
SCHOO                                         17
SCOOT                                         13
SCOOTER                                      252
SCOTT                                          1
SE                                             1
SELF                                           3
SEMI                                           1
SEMI-                                          1
SMALL COM VEH(4 TIRES)                     11298
SP                                             7
SPINT                                          1
SPORT UTILITY / STATION WAGON             143619
SPRIN                                          4
ST                                             5
STAK                                           1
STREE                                          3
SWEEP                                          1
Schoo                                          3
School Bus                                    26
Sciss                                          1
Scoot                                          5
Sedan                                      64372
Small                                          1
Snow Plow                                     12
Stake or Rack                                 25
Station Wagon/Sport Utility Vehicle        52915
Subn                                           1
TAN P                                          1
TANK                                           1
TAXI                                       30611
TK                                          1133
TKP                                            1
TN                                            34
TOW                                            2
TOW T                                         15
TOWER                                          2
TR                                            72
TRAC                                           5
TRACK                                          1
TRACT                                         15
TRAIL                                         59
TRK                                            3
TRL                                            4
TRLR                                           1
TRUCK                                         65
TT                                            38
TUGGE                                          1
Tanker                                       121
Taxi                                        7020
Tlr                                            1
Tow                                            1
Tow T                                          1
Tow Truck                                      5
Tow Truck / Wrecker                          157
Tow t                                          1
Trac                                           1
Tract                                          2
Tractor Truck Diesel                        1328
Tractor Truck Gasoline                       241
Trail                                          8
Truck                                          4
U HAU                                          1
U-HAU                                          1
U-Hau                                          1
UD                                             1
UHAUL                                          1
UNK                                            9
UNKNO                                         29
UNKNOWN                                    64775
UNKOW                                          2
US PO                                          6
US Po                                          2
USPS                                          12
UTIL                                           3
UTILI                                          1
Uber                                           1
Unk,                                           1
Unkno                                          5
Unspecified                               142955
Us po                                          1
Util                                           1
Utili                                          1
VAN                                        18875
VAN T                                          7
VAN/B                                          1
VAN/T                                          2
VC                                             2
VENDO                                          1
VESPA                                          1
VMS T                                          1
VN                                           304
Van                                         1179
Van Camper                                     3
Vanette                                        2
WAGON                                          2
WC                                             1
WHITE                                          2
YELLO                                          2
ambu                                           2
ambul                                         12
armor                                          1
bed                                            1
bobca                                          3
boxtr                                          1
bus                                            4
bycic                                          1
c7c                                            1
case                                           1
cemen                                          1
city                                           1
com                                            2
comme                                          4
const                                          3
conv                                           1
crane                                          2
delv                                           1
dump                                           3
dumps                                          1
e bik                                          1
e-BIK                                          1
elect                                          5
excav                                          1
fdny                                           3
fire                                           9
firet                                          5
flat                                           1
foor                                           1
fork                                           3
forkl                                          1
freig                                          2
frieg                                          1
front                                          1
garba                                          1
gov v                                          1
itas                                           1
jeep                                           1
mack                                           1
mail                                           2
mecha                                          1
mo-pe                                          1
moped                                          6
mopet                                          1
motor                                          1
mta b                                          3
nissa                                          1
nyc d                                          1
nyc f                                          1
omr                                            2

In [15]:
df_crash.groupby('CONTRIBUTING FACTOR VEHICLE 1')['COLLISION_ID'].nunique()

CONTRIBUTING FACTOR VEHICLE 1
80                                                            7
Accelerator Defective                                       408
Aggressive Driving/Road Rage                               3484
Alcohol Involvement                                        8823
Animals Action                                              539
Backing Unsafely                                          31469
Brakes Defective                                           2784
Cell Phone (hand-Held)                                      133
Cell Phone (hand-held)                                       56
Cell Phone (hands-free)                                     162
Driver Inattention/Distraction                           168180
Driver Inexperience                                       13695
Driverless/Runaway Vehicle                                  264
Drugs (Illegal)                                             318
Drugs (illegal)                                             221
Eating or Drinking                                           37
Failure to Keep Right                                      1608
Failure to Yield Right-of-Way                             65335
Fatigued/Drowsy                                           25035
Fell Asleep                                                1654
Following Too Closely                                     30717
Glare                                                      2006
Headlights Defective                                         69
Illnes                                                      370
Illness                                                    1859
Lane Marking Improper/Inadequate                            479
Listening/Using Headphones                                    9
Lost Consciousness                                        15105
Obstruction/Debris                                         1475
Other Electronic Device                                    1718
Other Lighting Defects                                       80
Other Vehicular                                           32030
Outside Car Distraction                                    6709
Oversized Vehicle                                          6790
Passenger Distraction                                      4636
Passing Too Closely                                       14758
Passing or Lane Usage Improper                            18542
Pavement Defective                                          960
Pavement Slippery                                          8756
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      2817
Physical Disability                                        7516
Prescription Medication                                   12741
Reaction to Other Uninvolved Vehicle                       1070
Reaction to Uninvolved Vehicle                             4921
Shoulders Defective/Improper                                 35
Steering Failure                                            894
Texting                                                      13
Tinted Windows                                               41
Tire Failure/Inadequate                                     612
Tow Hitch Defective                                         101
Traffic Control Device Improper/Non-Working                 466
Traffic Control Disregarded                               17060
Turning Improperly                                        25183
Unsafe Lane Changing                                      12252
Unsafe Speed                                               5891
Unspecified                                              406037
Using On Board Navigation Device                             40
Vehicle Vandalism                                            34
View Obstructed/Limited                                    5508
Windshield Inadequate                                        40
Name: COLLISION_ID, dtype: int64

In [16]:
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Illnes','Illness')
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Cell Phone (hand-Held)','Cell Phone (hand-held)')

1          Driver Inattention/Distraction
4                             Unspecified
7             Traffic Control Disregarded
14         Driver Inattention/Distraction
17         Driver Inattention/Distraction
                        ...
1672126                       Unspecified
1672127                       Unspecified
1672128                       Unspecified
1672129                       Unspecified
1672130                       Unspecified
Name: CONTRIBUTING FACTOR VEHICLE 1, Length: 974552, dtype: object

In [17]:
df_crash.groupby('CONTRIBUTING FACTOR VEHICLE 2')['COLLISION_ID'].nunique()

CONTRIBUTING FACTOR VEHICLE 2
80                                                            1
Accelerator Defective                                        42
Aggressive Driving/Road Rage                                753
Alcohol Involvement                                         773
Animals Action                                               35
Backing Unsafely                                           3934
Brakes Defective                                            193
Cell Phone (hand-Held)                                       21
Cell Phone (hand-held)                                       18
Cell Phone (hands-free)                                      29
Driver Inattention/Distraction                            44509
Driver Inexperience                                        3661
Driverless/Runaway Vehicle                                   15
Drugs (Illegal)                                              74
Drugs (illegal)                                              15
Eating or Drinking                                            3
Failure to Keep Right                                       328
Failure to Yield Right-of-Way                              9534
Fatigued/Drowsy                                            6056
Fell Asleep                                                 322
Following Too Closely                                      4644
Glare                                                       233
Headlights Defective                                         30
Illnes                                                       21
Illness                                                     365
Lane Marking Improper/Inadequate                            281
Listening/Using Headphones                                    4
Lost Consciousness                                         4044
Obstruction/Debris                                          245
Other Electronic Device                                     480
Other Lighting Defects                                       21
Other Vehicular                                           17967
Outside Car Distraction                                    1281
Oversized Vehicle                                          1233
Passenger Distraction                                      1002
Passing Too Closely                                        3224
Passing or Lane Usage Improper                             4471
Pavement Defective                                           83
Pavement Slippery                                          1974
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion       696
Physical Disability                                        1811
Prescription Medication                                    2521
Reaction to Other Uninvolved Vehicle                        301
Reaction to Uninvolved Vehicle                              788
Shoulders Defective/Improper                                  8
Steering Failure                                             54
Texting                                                       1
Tinted Windows                                               10
Tire Failure/Inadequate                                      46
Tow Hitch Defective                                          12
Traffic Control Device Improper/Non-Working                 286
Traffic Control Disregarded                                3859
Turning Improperly                                         4975
Unsafe Lane Changing                                       2231
Unsafe Speed                                               1546
Unspecified                                              842157
Using On Board Navigation Device                              4
Vehicle Vandalism                                             3
View Obstructed/Limited                                    1319
Windshield Inadequate                                         5
Name: COLLISION_ID, dtype: int64

In [18]:
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Illnes','Illness')
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Cell Phone (hand-Held)','Cell Phone (hand-held)')

1          Driver Inattention/Distraction
4                             Unspecified
7                             Unspecified
14                            Unspecified
17                            Unspecified
                        ...
1672126                       Unspecified
1672127                       Unspecified
1672128                       Unspecified
1672129                       Unspecified
1672130                       Unspecified
Name: CONTRIBUTING FACTOR VEHICLE 2, Length: 974552, dtype: object

### ENTER BOROUGH INFORMATION HERE

In [19]:
# Get names of indexes for which coordinates are invalid
indexNames = df_crash[(df_crash['LATITUDE'] < 30) & (df_crash['LONGITUDE'] > -50)].index
 
# Delete these row indexes from dataFrame
df_crash.drop(indexNames , inplace=True)

In [20]:
#df_crash['geom'] = df_crash['LATITUDE'].map(str) + ',' + df_crash['LONGITUDE'].map(str)

In [21]:
#params = {'key': 'AIzaSyDgn7Nv9NQPZJi9UKB7VWdhVEGFF0EVAgg', 'latlng': '40.655834,-73.839035','result_type':'sublocality'}
#r = requests.get('https://maps.googleapis.com/maps/api/geocode/json',params=params)
#json_response = r.json()
#borough = json_response['results'][0]['address_components'][0]['long_name']

In [22]:
# Google api
def get_borough(col):
    params = {'key': API KEY, 'latlng': col,'result_type':'sublocality'}
    r = requests.get('https://maps.googleapis.com/maps/api/geocode/json',params=params)
    json_response = r.json()
    borough = json_response['results'][0]['address_components'][0]['long_name']
    return borough

In [23]:
df_crash.head()

,CRASH DATE,CRASH TIME,BOROUGH,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1,06/01/2016,13:54,QUEENS,40.655834,-73.839035,CROSS BAY BOULEVARD,161 AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,3453947,PASSENGER VEHICLE,PASSENGER VEHICLE
4,06/03/2016,17:15,QUEENS,40.665558,-73.729850,HOOK CREEK BOULEVARD,SUNRISE HIGHWAY,0,0,0,0,0,0,0,0,Unspecified,Unspecified,3455499,PASSENGER VEHICLE,PASSENGER VEHICLE
7,05/12/2016,3:35,MANHATTAN,40.738316,-73.987730,EAST 20 STREET,PARK AVENUE SOUTH,2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,3439699,PASSENGER VEHICLE,PASSENGER VEHICLE
14,05/18/2016,21:15,QUEENS,40.768906,-73.736960,NORTHERN BOULEVARD,CORNELL LANE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3452101,PASSENGER VEHICLE,PASSENGER VEHICLE
17,05/24/2016,9:03,STATEN ISLAND,40.562130,-74.118190,HYLAN BOULEVARD,OAK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3452710,PASSENGER VEHICLE,PASSENGER VEHICLE

## Clean vehicle set

In [24]:
df_vehicle.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,TRAVEL_DIRECTION,VEHICLE_OCCUPANTS,DRIVER_SEX,DRIVER_LICENSE_STATUS,DRIVER_LICENSE_JURISDICTION,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,09/07/2012,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140121,4229438,10/18/2019,18:00,52ae0029-b174-40c9-9ef5-abdd5fdb2704,NJ,Sedan,HYUN -CAR/SUV,NaN,2015.0,West,0.0,NaN,NaN,NaN,Parked,Left Front Bumper,Left Front Bumper,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,NY,TAXI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,10/04/2015,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,04/25/2013,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN

In [25]:
df_vehicle.isnull().sum()

UNIQUE_ID                            0
COLLISION_ID                         0
CRASH_DATE                           0
CRASH_TIME                           0
VEHICLE_ID                           0
STATE_REGISTRATION              152152
VEHICLE_TYPE                    132033
VEHICLE_MAKE                   1713629
VEHICLE_MODEL                  3294186
VEHICLE_YEAR                   1720659
TRAVEL_DIRECTION               1607383
VEHICLE_OCCUPANTS              1668167
DRIVER_SEX                     1917770
DRIVER_LICENSE_STATUS          1971646
DRIVER_LICENSE_JURISDICTION    1961964
PRE_CRASH                       850587
POINT_OF_IMPACT                1628802
VEHICLE_DAMAGE                 1640673
VEHICLE_DAMAGE_1               2277825
VEHICLE_DAMAGE_2               2557501
VEHICLE_DAMAGE_3               2745625
PUBLIC_PROPERTY_DAMAGE         1528863
PUBLIC_PROPERTY_DAMAGE_TYPE    3331696
CONTRIBUTING_FACTOR_1            92818
CONTRIBUTING_FACTOR_2          1620959
dtype: int64

In [26]:
len(df_vehicle['COLLISION_ID'].unique())

1672226

In [27]:
df_vehicle = df_vehicle[['UNIQUE_ID','COLLISION_ID','CRASH_DATE','CRASH_TIME','VEHICLE_ID',\
                        'VEHICLE_TYPE','VEHICLE_YEAR','DRIVER_SEX','PRE_CRASH','POINT_OF_IMPACT','VEHICLE_DAMAGE']]

In [28]:
df_vehicle.isnull().sum()

UNIQUE_ID                0
COLLISION_ID             0
CRASH_DATE               0
CRASH_TIME               0
VEHICLE_ID               0
VEHICLE_TYPE        132033
VEHICLE_YEAR       1720659
DRIVER_SEX         1917770
PRE_CRASH           850587
POINT_OF_IMPACT    1628802
VEHICLE_DAMAGE     1640673
dtype: int64

In [29]:
df_vehicle.dropna()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,VEHICLE_TYPE,VEHICLE_YEAR,DRIVER_SEX,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE
5,17044639,3434155,05/02/2016,17:35,219456,4 dr sedan,2015.0,M,Merging,Right Front Bumper,Right Front Bumper
6,19139564,4228846,10/23/2019,20:40,a6e7f188-c660-4208-b907-1833d8676d47,Sedan,2007.0,M,Going Straight Ahead,Left Rear Quarter Panel,Left Side Doors
7,17303317,3503027,08/18/2016,12:39,672828,Station Wagon/Sport Utility Vehicle,2005.0,F,Going Straight Ahead,Center Front End,Center Front End
10,17285715,3487936,07/22/2016,15:40,554272,Convertible,2013.0,M,Stopped in Traffic,Right Rear Bumper,Right Rear Bumper
12,17307366,3499697,08/13/2016,21:05,650962,Sedan,2015.0,F,Going Straight Ahead,Left Side Doors,Left Side Doors
...,...,...,...,...,...,...,...,...,...,...,...
3345801,19357153,4308794,04/13/2020,23:55,350a729b-7409-4a01-9a30-e1fd4c7d9b2b,Sedan,2017.0,M,Making Left Turn,Left Front Quarter Panel,Left Front Quarter Panel
3345804,19357178,4308879,04/13/2020,0:22,0a0c23b0-09a3-4bc1-bb28-90e01f2a52a6,Sedan,2009.0,F,Going Straight Ahead,Center Front End,Center Front End
3345805,19357039,4308779,04/13/2020,14:30,8ffa655f-855b-475b-9530-7594a93ae5d7,Sedan,2015.0,F,Going Straight Ahead,Center Front End,Demolished
3345806,19357435,4308789,04/12/2020,17:00,b544ff1f-2f38-4aff-8fbf-bc73263b3bf1,Sedan,2014.0,M,Parked,Left Side Doors,Left Side Doors
3345807,19357175,4308732,04/13/2020,14:06,85ba1c16-9442-4c4d-ab54-980b3d45d5df,Station Wagon/Sport Utility Vehicle,2018.0,M,Going Straight Ahead,Center Back End,Roof

In [30]:
values = {'VEHICLE_TYPE':'Unspecified','VEHICLE_YEAR':'Unspecified','DRIVER_SEX':'U',\
         'PRE_CRASH':'Unspecified','POINT_OF_IMPACT':'Unspecified','VEHICLE_DAMAGE':'Unspecified',\
         'CONTRIBUTING_FACTOR_1':'Unspecified'}
df_vehicle.fillna(value=values,inplace=True)

In [31]:
df_vehicle.isnull().sum()

UNIQUE_ID          0
COLLISION_ID       0
CRASH_DATE         0
CRASH_TIME         0
VEHICLE_ID         0
VEHICLE_TYPE       0
VEHICLE_YEAR       0
DRIVER_SEX         0
PRE_CRASH          0
POINT_OF_IMPACT    0
VEHICLE_DAMAGE     0
dtype: int64

In [32]:
df_vehicle.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,VEHICLE_TYPE,VEHICLE_YEAR,DRIVER_SEX,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE
0,10385780,100201,09/07/2012,9:03,1,PASSENGER VEHICLE,Unspecified,U,Unspecified,Unspecified,Unspecified
1,19140121,4229438,10/18/2019,18:00,52ae0029-b174-40c9-9ef5-abdd5fdb2704,Sedan,2015,U,Parked,Left Front Bumper,Left Front Bumper
2,14887647,3307608,10/02/2015,17:18,2,TAXI,Unspecified,U,Going Straight Ahead,Unspecified,Unspecified
3,14889754,3308693,10/04/2015,20:34,1,PASSENGER VEHICLE,Unspecified,U,Parked,Unspecified,Unspecified
4,14400270,297666,04/25/2013,21:15,1,PASSENGER VEHICLE,Unspecified,U,Unspecified,Unspecified,Unspecified

### Clean strings

In [33]:
df_vehicle.dtypes

UNIQUE_ID           int64
COLLISION_ID        int64
CRASH_DATE         object
CRASH_TIME         object
VEHICLE_ID         object
VEHICLE_TYPE       object
VEHICLE_YEAR       object
DRIVER_SEX         object
PRE_CRASH          object
POINT_OF_IMPACT    object
VEHICLE_DAMAGE     object
dtype: object

In [34]:
pd.options.display.max_seq_items = 4000

In [35]:
df_vehicle.groupby('VEHICLE_TYPE')['COLLISION_ID'].nunique()

VEHICLE_TYPE
(ceme    1
.        1
0        1
00       2
000      2
        ..
work     5
yello    5
yw       1
yy       1
omm     1
Name: COLLISION_ID, Length: 1407, dtype: int64

In [36]:
df_vehicle.groupby('VEHICLE_YEAR')['COLLISION_ID'].nunique()

VEHICLE_YEAR
1000.0              1
1111.0              3
1900.0              7
1920.0              2
1921.0              1
1923.0              1
1926.0              1
1930.0              1
1932.0              1
1933.0              2
1936.0              2
1939.0              1
1940.0              2
1941.0              1
1942.0              1
1945.0              1
1946.0              1
1948.0              1
1949.0              4
1950.0              4
1951.0              3
1952.0              2
1953.0              2
1954.0              2
1955.0              3
1956.0              3
1957.0              4
1958.0              5
1959.0              5
1960.0              7
1962.0              6
1963.0              8
1964.0             14
1965.0             26
1966.0             37
1967.0             23
1968.0             19
1969.0             24
1970.0             33
1971.0             48
1972.0             45
1973.0             42
1974.0             37
1975.0             38
1976.0             64
1977.0             48
1978.0             70
1979.0             86
1980.0             71
1981.0             84
1982.0             91
1983.0            138
1984.0            180
1985.0            226
1986.0            232
1987.0            440
1988.0            484
1989.0            608
1990.0            803
1991.0            952
1992.0           1260
1993.0           1589
1994.0           2412
1995.0           4057
1996.0           4784
1997.0           8001
1998.0          11504
1999.0          16067
2000.0          23704
2001.0          26328
2002.0          33769
2003.0          42183
2004.0          48467
2005.0          55345
2006.0          60510
2007.0          68303
2008.0          64470
2009.0          53873
2010.0          60586
2011.0          72810
2012.0          82420
2013.0         103467
2014.0         123615
2015.0         166745
2016.0         167228
2017.0         137589
2018.0          79428
2019.0          36202
2020.0           4383
2021.0             42
2022.0             27
2023.0             33
2024.0             34
2025.0             18
2026.0             43
2027.0             34
2028.0             19
2029.0              6
2030.0              2
2033.0              9
2038.0              1
2040.0              3
2041.0             13
2042.0              9
2043.0              2
2044.0              8
2045.0              8
2046.0             10
2047.0             10
2048.0              4
2049.0              5
2050.0              1
2051.0              2
2055.0              4
2056.0              1
2066.0              6
2071.0              2
2073.0              2
2074.0              5
2076.0              3
2077.0              8
2081.0              1
2082.0              6
2083.0             15
2084.0              6
2085.0              2
2086.0              6
2087.0              2
2088.0             19
2089.0              6
2091.0              2
2096.0              4
2098.0              2
2099.0              6
2100.0              5
2101.0              8
2102.0              7
2103.0             25
2104.0             16
2105.0             15
2106.0             16
2107.0              9
2108.0              8
2109.0              5
2110.0              2
2112.0              2
2114.0              1
2116.0              1
2199.0              1
2200.0             11
2201.0             33
2202.0              3
2203.0              3
2204.0              5
2205.0              6
2206.0              8
2207.0             13
2208.0              7
2209.0             10
2210.0              1
2213.0              1
2214.0              1
2215.0              1
2222.0              4
2300.0              1
2301.0              2
2307.0              1
2313.0              1
2501.0              3
2545.0              1
2587.0              1
2616.0              1
2710.0              1
2711.0              1
2713.0              2
2714.0              1
2715.0              2
2716.0              4
2717.0              1
2718.0              3
2719.0              1
2803.0              1
2806.0              1
2811.0              2
2812.0              2
2813.0              9
2814.0              8
2815.0             12
2816.0             22
2817.0              5
2818.0              7
2819.0              3
2880.0              1
2889.0              1
2901.0              1
2911.0              4
2912.0              2
2913.0              9
2914.0             18
2915.0             19
2916.0             20
2917.0             12
2918.0              8
2919.0              2
2993.0              9
2994.0              4
2995.0              7
2996.0              5
2997.0              4
2998.0              5
3000.0              1
3002.0              1
3003.0              1
3004.0              5
3005.0              4
3006.0              2
3007.0              2
3008.0              3
3010.0              3
3011.0              6
3012.0              4
3013.0             10
3014.0              7
3015.0              7
3016.0             19
3017.0             17
3018.0              6
3019.0              3
3023.0              2
3024.0              1
3025.0              1
3026.0              1
3028.0              1
3333.0              1
4321.0              1
4979.0              1
4986.0              2
4987.0              1
4991.0              1
4992.0              1
4994.0              3
4995.0              2
4996.0              1
4997.0              2
4998.0              7
4999.0              1
5001.0              1
5004.0              2
5005.0              2
5009.0              1
5012.0              1
5013.0              1
5014.0              3
5015.0              4
5016.0              3
5017.0              2
5018.0              1
5220.0              1
5290.0              1
5555.0              1
5582.0              1
6269.0              1
6666.0              2
7258.0              1
7398.0              1
7993.0              1
7998.0              3
8001.0              1
8008.0              1
8014.0              1
8016.0              2
8018.0              1
8339.0              1
8888.0              1
9699.0              1
9999.0            604
19969.0             1
20003.0             1
20009.0             1
20015.0             2
20063.0             1
Unspecified    953224
Name: COLLISION_ID, dtype: int64

In [37]:
df_vehicle.groupby('PRE_CRASH')['COLLISION_ID'].nunique()

PRE_CRASH
Avoiding Object in Roadway      2761
Backing                        90924
Changing Lanes                 76197
Entering Parked Position       34125
Going Straight Ahead          887311
Making Left Turn              136691
Making Left Turn on Red          767
Making Right Turn             106811
Making Right Turn on Red         704
Making U Turn                  21157
Merging                        39121
Other*                         25882
Parked                        345477
Passing                        27749
Police Pursuit                   587
Slowing or Stopping            76667
Starting from Parking          44797
Starting in Traffic            10045
Stopped in Traffic            108096
Unspecified                   482901
Name: COLLISION_ID, dtype: int64

## Clean people set

In [38]:
df_people.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,19142923.0,0.0,Not Ejected,Does Not Apply,Does Not Apply,"Any person in the rear of a station wagon, pick-up truck, all passengers on a bus, etc",Unknown,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,19143291.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,19141868.0,11.0,Not Ejected,Conscious,Entire Body,"Middle rear seat, or passenger lying across a seat",Unknown,NaN,NaN,Whiplash,Passenger,NaN,NaN,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,NaN,30.0,NaN,Conscious,Knee-Lower Leg Foot,Driver,None,Pedestrian/Bicyclist/Other Pedestrian at Intersection,Crossing Against Signal,Fracture - Distorted - Dislocation,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Error/Confusion,Texting,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN

In [39]:
df_people.isnull().sum()

UNIQUE_ID                      0
COLLISION_ID                   0
CRASH_DATE                     0
CRASH_TIME                     0
PERSON_ID                     19
PERSON_TYPE                    0
PERSON_INJURY                  0
VEHICLE_ID                151782
PERSON_AGE                294988
EJECTION                 1911145
EMOTIONAL_STATUS         1864739
BODILY_INJURY            1864696
POSITION_IN_VEHICLE      1910875
SAFETY_EQUIPMENT         1910925
PED_LOCATION             3858762
PED_ACTION               3858863
COMPLAINT                1864689
PED_ROLE                  194895
CONTRIBUTING_FACTOR_1    3859973
CONTRIBUTING_FACTOR_2    3860035
PERSON_SEX                468460
dtype: int64

In [40]:
len(df_people)

3908459

In [41]:
df_people = df_people.drop(columns = ['PED_LOCATION','PED_ACTION','CONTRIBUTING_FACTOR_1','CONTRIBUTING_FACTOR_2',\
                                     'EJECTION','EMOTIONAL_STATUS','BODILY_INJURY','POSITION_IN_VEHICLE',\
                                     'SAFETY_EQUIPMENT','COMPLAINT'])

In [42]:
df_people.isnull().sum()

UNIQUE_ID             0
COLLISION_ID          0
CRASH_DATE            0
CRASH_TIME            0
PERSON_ID            19
PERSON_TYPE           0
PERSON_INJURY         0
VEHICLE_ID       151782
PERSON_AGE       294988
PED_ROLE         194895
PERSON_SEX       468460
dtype: int64

In [43]:
values = {'VEHICLE_ID':'Unspecified','PERSON_ID':'Unspecified','PERSON_AGE': 'Unspecified','PED_ROLE':'Unspecified',\
         'PERSON_SEX':'U'}
df_people.fillna(value=values,inplace=True)

In [44]:
df_people.isnull().sum()

UNIQUE_ID        0
COLLISION_ID     0
CRASH_DATE       0
CRASH_TIME       0
PERSON_ID        0
PERSON_TYPE      0
PERSON_INJURY    0
VEHICLE_ID       0
PERSON_AGE       0
PED_ROLE         0
PERSON_SEX       0
dtype: int64

In [45]:
df_people.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,PED_ROLE,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,1.91429e+07,0,Passenger,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,1.91433e+07,Unspecified,Registrant,U
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,1.91419e+07,11,Passenger,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,Unspecified,30,Pedestrian,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,Unspecified,Unspecified,Notified Person,U

In [46]:
df_people.dtypes

UNIQUE_ID         int64
COLLISION_ID      int64
CRASH_DATE       object
CRASH_TIME       object
PERSON_ID        object
PERSON_TYPE      object
PERSON_INJURY    object
VEHICLE_ID       object
PERSON_AGE       object
PED_ROLE         object
PERSON_SEX       object
dtype: object

The strings for this dataset was decided to be cleaned if relevant in the analysis.

# CREATE CLEAN FILES

In [48]:
df_crash.to_csv('data/crash_clean.csv')
df_vehicle.to_csv('data/vehicle_clean.csv')
df_people.to_csv('data/people_clean.csv')