In [91]:
# general imports
import pandas as pd
import numpy as np
import seaborn as sns
import json
import requests
import datetime
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
pd.options.display.max_seq_items = 4000
pd.set_option('display.max_columns', 1000)  # or 1000
pd.set_option('display.max_rows', 1000)  # or 1000
pd.set_option('display.max_colwidth', 199)  # or 199

sns.set(style='darkgrid', palette='muted', color_codes=True)

# Magic command useful jupyter notebook
%matplotlib inline

#Set plot size.
plt.rcParams['figure.figsize'] = [13,7]

#Set font size
plt.rcParams.update({'font.size':16})

In [92]:
df_crash = pd.read_csv('data/Motor_Vehicle_Collisions_-_Crashes.csv')
df_vehicle = pd.read_csv('data/Motor_Vehicle_Collisions_-_Vehicles.csv')
df_people = pd.read_csv('data/Motor_Vehicle_Collisions_-_Person.csv')

## Clean crash dataset


In this section the data has been cleaned in the following way:

- See number of NaNs for all columns. Select the rows for furtner analysis
- Remove data without location
- Replace all null values except borough with 0 or 'Unspecified'
- Enrich Burough dataset

In [93]:
df_crash.head(50)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,05/14/2016,18:00,BRONX,10472,NaN,NaN,NaN,WHITE PLAINS ROAD,CROSS BRONX EXPRESSWAY,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3443839,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
1,06/01/2016,13:54,QUEENS,11414,40.655834,-73.839035,POINT (-73.839035 40.655834),CROSS BAY BOULEVARD,161 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3453947,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,05/23/2016,6:15,NaN,NaN,40.752937,-73.922040,POINT (-73.92204 40.752937),NORTHERN BOULEVARD,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3452402,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
3,06/03/2016,11:00,NaN,NaN,40.680893,-73.871376,POINT (-73.871376 40.680893),GLEN STREET,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,3482311,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
4,06/03/2016,17:15,QUEENS,11422,40.665558,-73.729850,POINT (-73.72985 40.665558),HOOK CREEK BOULEVARD,SUNRISE HIGHWAY,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3455499,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
5,06/04/2016,13:20,BROOKLYN,11207,40.689530,-73.909134,POINT (-73.909134 40.68953),NaN,NaN,166 COVERT STREET,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3455042,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
6,05/19/2016,12:50,QUEENS,11375,40.722940,-73.836876,POINT (-73.836876 40.72294),NaN,NaN,69-70 GRAND CENTRAL PARKWAY,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3444578,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
7,05/12/2016,3:35,MANHATTAN,10010,40.738316,-73.987730,POINT (-73.98773 40.738316),EAST 20 STREET,PARK AVENUE SOUTH,NaN,2.0,0.0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,NaN,NaN,NaN,3439699,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
8,05/27/2016,14:20,NaN,NaN,40.764770,-73.794900,POINT (-73.7949 40.76477),35 AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3451983,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
9,05/27/2016,6:30,BRONX,10463,40.878160,-73.902756,POINT (-73.902756 40.87816),NaN,NaN,147 WEST 231 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3446981,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
10,05/25/2016,9:05,NaN,NaN,40.755802,-73.986404,POINT (-73.986404 40.755802),WEST 42 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3447977,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
11,05/27/2016,19:00,NaN,NaN,40.705887,-73.942970,POINT (-73.94297 40.705887),BOERUM STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,3451142,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
12,05/13/2016,19:00,NaN,NaN,40.614430,-74.039566,POINT (-74.039566 40.61443),Belt Pkwy,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3442389,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
13,05/20/2016,0:59,QUEENS,11413,40.682983,-73.746840,POINT (-73.74684 40.682983),NaN,NaN,130-51 220 STREET,0.0,0.0,0,0,0,0,0,0,Outside Car Distraction,Unspecified,NaN,NaN,NaN,3444789,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
14,05/18/2016,21:15,QUEENS,11363,40.768906,-73.736960,POINT (-73.73696 40.768906),NORTHERN BOULEVARD,CORNELL LANE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3452101,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
15,05/16/2016,15:20,QUEENS,11369,40.764740,-73.870600,POINT (-73.8706 40.76474),NaN,NaN,99-14 25 AVENUE,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3443609,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
16,06/01/2016,14:30,NaN,NaN,NaN,NaN,NaN,ED KOCH BRIDGE,VERNON BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3453999,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
17,05/24/2016,9:03,STATEN ISLAND,10306,40.562130,-74.118190,POINT (-74.11819 40.56213),HYLAN BOULEVARD,OAK AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3452710,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
18,05/31/2016,15:45,BRONX,10467,40.869950,-73.870540,POINT (-73.87054 40.86995),NaN,NaN,3000 BRONX PARK EAST,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3453273,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
19,05/15/2016,17:45,QUEENS,11101,40.754337,-73.920400,POINT (-73.9204 40.754337),NaN,NaN,42-11 35 AVENUE,2.0,0.0,0,0,0,0,2,0,Driver Inexperience,Unspecified,Unspecified,NaN,NaN,3442873,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
20,05/23/2016,20:29,QUEENS,11361,40.757626,-73.780106,POINT (-73.780106 40.757626),NORTHERN BOULEVARD,203 STREET,NaN,1.0,0.0,0,0,0,0,1,0,Unsafe Lane Changing,Unspecified,NaN,NaN,NaN,3452133,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
21,05/27/2016,15:00,NaN,NaN,40.672234,-73.884710,POINT (-73.88471 40.672234),ASHFORD STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3450587,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
22,06/02/2016,10:20,BROOKLYN,11210,40.626890,-73.945885,POINT (-73.945885 40.62689),AVENUE J,EAST 31 STREET,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3454493,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
23,06/02/2016,18:06,BROOKLYN,11207,40.673980,-73.899315,POINT (-73.899315 40.67398),LIBERTY AVENUE,ALABAMA AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3456267,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
24,05/12/2016,19:30,NaN,NaN,40.719864,-73.944860,POINT (-73.94486 40.719864),BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Following Too Closely,Following Too Closely,Unspecified,NaN,NaN,3442598,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN
25,04/13/2020,12:20,NaN,NaN,NaN,NaN,NaN,NEW ENGLAND THRUWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,4308754,Sedan,Box Truck,NaN,NaN,NaN
26,05/27/2016,16:20,QUEENS,11412,40.696274,-73.755990,POINT (-73.75599 40.696274),NaN,NaN,115-49 197 STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3446642,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
27,05/27/2016,1:17,MANHATTAN,10002,40.719970,-73.992905,POINT (-73.992905 40.71997),CHRYSTIE STREET,DELANCEY STREET,NaN,1.0,0.0,0,0,1,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,3679683,TAXI,BICYCLE,NaN,NaN,NaN
28,06/03/2016,20:35,BRONX,10472,40.829230,-73.875510,POINT (-73.87551 40.82923),WESTCHESTER AVENUE,STRATFORD AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3456830,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
29,05/20/2016,11:25,NaN,NaN,40.721115,-73.805510,POINT (-73.80551 40.721115),162 STREET,UNION TURNPIKE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3451762,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
30,05/31/2016,11:00,BRONX,10470,40.902615,-73.851090,POINT (-73.85109 40.902615),NaN,NaN,4635 WHITE PLAINS ROAD,2.0,0.0,0,0,0,0,2,0,Driver Inexperience,Turning Improperly,NaN,NaN,NaN,3447261,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
31,05/25/2016,7:08,NaN,NaN,NaN,NaN,NaN,QUEENS PLAZA,QUEENSBORO BRIDGE,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3451878,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
32,05/13/2016,17:00,QUEENS,11413,40.666450,-73.757640,POINT (-73.75764 40.66645),SPRINGFIELD BOULEVARD,NORTH CONDUIT AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3441355,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
33,05/20/2016,12:00,BROOKLYN,11206,40.700210,-73.953896,POINT (-73.953896 40.70021),LEE AVENUE,LORIMER STREET,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3451085,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
34,05/22/2016,20:12,NaN,NaN,40.888992,-73.889200,POINT (-73.8892 40.888992),Major Deegan Expy,NaN,NaN,0.0,1.0,0,0,0,0,0,1,Unsafe Speed,Unspecified,NaN,NaN,NaN,3445289,MOTORCYCLE,PASSENGER VEHICLE,NaN,NaN,NaN
35,06/01/2016,7:11,MANHATTAN,10035,40.805637,-73.934400,POINT (-73.9344 40.805637),EAST 128 STREET,3 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3454399,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
36,05/16/2016,17:42,BRONX,10467,40.879170,-73.871376,POINT (-73.871376 40.87917),NaN,NaN,3510 WEBSTER AVENUE,0.0,0.0,0,0,0,0,0,0,Unsafe Speed,Unspecified,NaN,NaN,NaN,3443914,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
37,05/12/2016,20:40,BROOKLYN,11238,40.674572,-73.963140,POINT (-73.96314 40.674572),WASHINGTON AVENUE,STERLING PLACE,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3441219,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
38,05/26/2016,12:51,NaN,NaN,40.756670,-73.828804,POINT (-73.828804 40.75667),SANFORD AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,3451968,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
39,05/16/2016,6:20,NaN,NaN,40.664960,-73.822260,POINT (-73.82226 40.66496),BELT PARKWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3444917,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN
40,05/30/2016,2:00,BRONX,10454,40.807556,-73.919235,POINT (-73.919235 40.807556),EAST 138 STREET,BROOK AVENUE,NaN,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,3448913,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
41,05/19/2016,15:25,BROOKLYN,11209,40.635143,-74.027530,POINT (-74.02753 40.635143),NaN,NaN,255 OVINGTON AVENUE,0.0,0.0,0,0,0,0,0,0,Other Vehicular,NaN,NaN,NaN,NaN,3444733,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
42,05/29/2016,15:15,NaN,NaN,40.728950,-73.971820,POINT (-73.97182 40.72895),Franklin D Roosevelt Dr,NaN,NaN,5.0,0.0,0,0,0,0,5,0,Following Too Closely,Unspecified,Unspecified,NaN,NaN,3447198,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
43,05/12/2016,17:15,BRONX,10473,40.821390,-73.866120,POINT (-73.86612 40.82139),NaN,NaN,810 SOUND VIEW AVENUE,0.0,0.0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,NaN,NaN,NaN,3440524,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
44,06/02/2016,16:45,NaN,NaN,40.724895,-73.855130,POINT (-73.85513 40.724895),WETHEROLE STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3454816,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
45,05/23/2016,7:00,BROOKLYN,11221,40.691372,-73.912040,POINT (-73.91204 40.691372),NaN,NaN,1185 HANCOCK STREET,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3446782,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
46,06/02/2016,14:59,NaN,NaN,NaN,NaN,NaN,BELT PKWY,NaN,NaN,2.0,0.0,0,0,0,0,2,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3454475,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
47,05/29/2016,15:50,NaN,NaN,40.646470,-74.012580,POINT (-74.01258 40.64647),50 STREET,NaN,NaN,1.0,0.0,1,0,0,0,0,0,Unsafe Speed,NaN,NaN,NaN,NaN,3450435,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
48,06/01/2016,18:47,MANHATTAN,10005,40.703570,-74.008040,POINT (-74.00804 40.70357),NaN,NaN,32 OLD SLIP,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3452830,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
49,05/22/2016,15:50,MANHATTAN,10001,40.746056,-73.986700,POINT (-73.9867 40.746056),NaN,NaN,1 WEST 30 STREET,1.0,0.0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,3620801,4 dr sedan,NaN,NaN,NaN,NaN

In [94]:
df_crash.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           509839
ZIP CODE                          510046
LATITUDE                          201721
LONGITUDE                         201721
LOCATION                          201721
ON STREET NAME                    330899
CROSS STREET NAME                 570911
OFF STREET NAME                  1433844
NUMBER OF PERSONS INJURED             17
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4518
CONTRIBUTING FACTOR VEHICLE 2     227813
CONTRIBUTING FACTOR VEHICLE 3    1563865
CONTRIBUTING FACTOR VEHICLE 4    1649657
CONTRIBUTING FACTOR VEHICLE 5    1666553
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 5944
VEHICLE TYPE CODE 2               280627
VEHICLE TYPE CODE 3              1535028
VEHICLE TYPE CODE 4              1621922
VEHICLE TYPE CODE 5              1661476
dtype: int64

In [95]:
df_crash = df_crash[['CRASH DATE','CRASH TIME','BOROUGH', 'LATITUDE', 'LONGITUDE',\
         'ON STREET NAME', 'CROSS STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',\
          'NUMBER OF PEDESTRIANS INJURED','NUMBER OF PEDESTRIANS KILLED','NUMBER OF CYCLIST INJURED','NUMBER OF CYCLIST KILLED',\
          'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED','CONTRIBUTING FACTOR VEHICLE 1',\
         'CONTRIBUTING FACTOR VEHICLE 2','COLLISION_ID','VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']]

In [96]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          509839
LATITUDE                         201721
LONGITUDE                        201721
ON STREET NAME                   330899
CROSS STREET NAME                570911
NUMBER OF PERSONS INJURED            17
NUMBER OF PERSONS KILLED             31
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4518
CONTRIBUTING FACTOR VEHICLE 2    227813
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5944
VEHICLE TYPE CODE 2              280627
dtype: int64

In [97]:
df_crash.dropna(subset=['LATITUDE', 'LONGITUDE'],inplace=True)

In [98]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          338064
LATITUDE                              0
LONGITUDE                             0
ON STREET NAME                   278364
CROSS STREET NAME                496102
NUMBER OF PERSONS INJURED            15
NUMBER OF PERSONS KILLED             28
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4034
CONTRIBUTING FACTOR VEHICLE 2    204314
COLLISION_ID                          0
VEHICLE TYPE CODE 1                5568
VEHICLE TYPE CODE 2              254536
dtype: int64

In [99]:
values = {'ON STREET NAME': 'Unspecified', 'NUMBER OF PERSONS INJURED': 'Unspecified', 'NUMBER OF PERSONS KILLED': 'Unspecified',\
          'CONTRIBUTING FACTOR VEHICLE 1': 'Unspecified','CONTRIBUTING FACTOR VEHICLE 2': 'Unspecified',\
         'VEHICLE TYPE CODE 1': 'UNKNOWN','VEHICLE TYPE CODE 2': 'Unspecified'}
df_crash.fillna(value=values,inplace=True)

In [100]:
df_crash.isnull().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          338064
LATITUDE                              0
LONGITUDE                             0
ON STREET NAME                        0
CROSS STREET NAME                496102
NUMBER OF PERSONS INJURED             0
NUMBER OF PERSONS KILLED              0
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1         0
CONTRIBUTING FACTOR VEHICLE 2         0
COLLISION_ID                          0
VEHICLE TYPE CODE 1                   0
VEHICLE TYPE CODE 2                   0
dtype: int64

In [101]:
df_crash = df_crash.dropna()

### Now for cleaning the strings

In [102]:
df_crash.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
LATITUDE                         float64
LONGITUDE                        float64
ON STREET NAME                    object
CROSS STREET NAME                 object
NUMBER OF PERSONS INJURED         object
NUMBER OF PERSONS KILLED          object
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
dtype: object

In [103]:
df_crash.groupby('VEHICLE TYPE CODE 1')['COLLISION_ID'].nunique()

VEHICLE TYPE CODE 1
(ceme                                          1
1                                              1
12 Pa                                          1
15 Pa                                          1
19720                                          1
2 WHE                                          1
2 dr sedan                                    20
3 WHE                                          2
3-Door                                        37
315 e                                          1
3D                                             6
4 RUN                                          1
4 dr sedan                                   379
4D                                             1
4DS                                            1
4DSD                                           2
ABULA                                          1
ACCES                                          2
AM                                           121
AMB                                           10
AMBU                                           5
AMBUL                                        103
AMBULANCE                                   1911
AMbul                                          1
APPOR                                          1
AR                                            20
ARMOR                                          1
Acces                                          1
Amb                                            1
Ambul                                         24
Ambulance                                    467
Armored Truck                                 47
BA                                             2
BACK                                           2
BACKH                                          4
BICYCLE                                     2957
BK                                             1
BOX                                            1
BOX T                                          6
BR                                            15
BS                                             3
BTM                                            1
BU                                          1028
BUCKE                                          1
BULLD                                          1
BUS                                        11896
Beverage Truck                                34
Bicyc                                          1
Bike                                        2025
Box T                                          1
Box Truck                                   3492
Budge                                          1
Bulk Agriculture                               6
Bus                                         3515
CABIN                                          1
CAMP                                           1
CARGO                                          2
CART                                           1
CAT P                                          1
CB                                            26
CHERR                                          1
CITY                                           1
CM                                            14
CMS-T                                          1
CO                                             2
COM                                           11
COM T                                          1
COMER                                          1
COMM                                           1
COMME                                         10
COMMU                                          1
CONST                                          2
CONT                                           1
CONV                                         142
COURI                                          1
CRANE                                          2
Carry All                                    305
Chassis Cab                                   93
City                                           1
Comme                                          1
Concrete Mixer                                77
Convertible                                  526
D/V W                                          1
DELIV                                         12
DELV                                           8
DIRT                                           1
DOT T                                          1
DP                                           137
DS                                           281
DUMP                                          17
DUMPT                                          1
DUNBA                                          1
Deliv                                          1
Dump                                         536
Dumps                                          1
E BIK                                          4
E SCO                                          1
E-BIK                                          4
E-Bik                                         74
E-Sco                                         81
EBIKE                                          2
ECONO                                          1
ELEC.                                          1
ELECT                                         16
EMRGN                                          1
EMS H                                          1
EN                                             2
ENGIN                                          1
EXCAV                                          1
Enclosed Body - Nonremovable Enclosure         1
Enclosed Body - Removable Enclosure            2
FB                                            82
FD tr                                          1
FDNY                                          35
FIRE                                          26
FIRE TRUCK                                   689
FIRET                                         11
FLAT                                           4
FLATB                                          1
FORD                                           3
FORK                                           1
FORKL                                          6
FR                                            10
FREIG                                          7
FRHT                                           2
FRONT                                          1
FUEL                                           1
Fd fi                                          1
Fdny                                           1
Fire                                          17
Firet                                          3
Flat Bed                                     288
Flat Rack                                     53
Forkl                                          1
G COM                                          1
GARBA                                          2
GG                                            80
GOLF                                           1
GOVER                                          2
GRAY                                           1
GRUMM                                          1
Garba                                          1
Garbage or Refuse                            317
Glass Rack                                     2
Grain                                          1
HI TA                                          1
HO                                             1
HWY C                                          1
Hand                                           1
Hopper                                         7
Humme                                          1
INTER                                          1
IP                                             1
Ice c                                          1
LADDE                                          1
LARGE COM VEH(6 OR MORE TIRES)              9974
LF                                             5
LIEBH                                          1
LIMO                                          37
LIVERY VEHICLE                              8531
LL                                            70
LP                                             1
LTRL                                           1
Lift Boom                                     34
Limou                                          1
Livestock Rack                                 2
Lunch Wagon                                    5
MAC T                                          1
MACK                                           3
MAIL                                           6
MAXIM                                          1
MB                                            13
MD                                            12
MILLI                                          1
MOPD                                           1
MOPED                                          8
MOTOR                                          4
MOTORCYCLE                                  3928
MS                                            19
MTA B                                          4
MTA C                                          1
Minibike                                       6
Minicycle                                      7
Mo pa                                          1
Moped                                        109
Motor                                          1
Motor Home                                     1
Motorbike                                     58
Motorcycle                                   796
Motorized Home                                 8
Motorscooter                                  90
Multi-Wheeled Vehicle                         14
NAVIG                                          1
NEW Y                                          1
NTTRL                                          1
NYC D                                          1
NYC F                                          1
NYPD                                           2
OMNIB                                          1
OMR                                            7
OMT                                            1
OTHER                                      18116
Open Body                                      9
P/SH                                           2
PAS                                            9
PASS                                           1
PASSENGER VEHICLE                         417843
PC                                             1
PEDICAB                                       23
PICK-                                          1
PICK-UP TRUCK                              12868
PICKU                                          2
PK                                           371
PL                                             2
PM                                             4
POIS                                           1
POSTA                                          3
POSTO                                          1
POWER                                          6
PSD                                            2
PSH                                            1
PU                                             1
PUSH                                           1
Pallet                                         6
Pedicab                                        9
Pick                                           2
Pick-                                          1
Pick-up Truck                               4802
Pickup with mounted Camper                     6
Porta                                          1
R/V                                            1
R/V C                                          1
REFG                                           4
REFRI                                          1
RENTA                                          1
REP                                            2
REPAI                                          1
RF                                            19
ROAD                                           1
RV                                             5
Refrigerated Van                              58
Renta                                          1
SANIT                                          4
SANTI                                          1
SC                                             1
SCHOO                                         15
SCOO                                           1
SCOOT                                         13
SCOOTER                                      214
SEA                                            1
SEGWA                                          1
SELF                                           5
SEMI                                           2
SEMI-                                          1
SKATE                                          3
SMALL COM VEH(4 TIRES)                     10985
SP                                             9
SPC                                            1
SPORT UTILITY / STATION WAGON             182767
ST                                             6
STAK                                           2
STREE                                          6
SUB                                            1
SUBN/                                          1
SUBUR                                          1
SUV                                            3
SW                                             1
SWEEP                                          1
SYBN                                           1
Sanit                                          2
Schoo                                          1
School Bus                                    27
Scoot                                          4
Sedan                                      74814
Semi                                           1
Smart                                          1
Snow                                           1
Snow Plow                                      6
Spc                                            1
Sprin                                          1
St                                             1
Stake or Rack                                 19
Station Wagon/Sport Utility Vehicle        59643
Stree                                          2
Subn                                           1
Sweep                                          1
TANK                                           4
TANKE                                          2
TAXI                                       36133
TF                                             1
TIR                                            1
TK                                           938
TN                                            34
TOW                                            1
TOW T                                         12
TR                                            56
TR-Tr                                          1
TRAC                                           6
TRAC.                                          1
TRACT                                         18
TRAIL                                         45
TRANS                                          1
TRK                                            4
TRL                                            4
TRLR                                           2
TRUCK                                         43
TT                                            42
Tanker                                       116
Taxi                                        8340
Tow                                            1
Tow T                                          2
Tow Truck                                      2
Tow Truck / Wrecker                          193
Tow t                                          1
Tract                                          2
Tractor Truck Diesel                        1152
Tractor Truck Gasoline                       221
Trail                                          5
Truck                                          1
U.S.                                           1
UHAUL                                          2
UHUAL                                          2
UNK                                            2
UNKNO                                         11
UNKNOWN                                    19295
US PO                                          1
US Po                                          1
USP M                                          1
USPS                                          18
USPS2                                          1
UT                                             2
UTIL                                           6
UTILI                                          8
Util                                           1
Utili                                          2
VAB                                            1
VAN                                        20825
VAN T                                          2
VAN/T                                          1
VAV                                            1
VC                                             2
VN                                           316
Van                                         1272
Van Camper                                     3
Vanette                                        3
WAGON                                          1
WD                                             1
WHEEL                                          1
WORK                                           1
Well Driller                                   2
YELLO                                          3
ambu                                           4
ambul                                         21
backh                                          1
box t                                          6
bus                                            4
cater                                          1
com                                            1
comm                                           1
comme                                          2
deliv                                          4
delv                                           2
delvi                                          1
dp                                             1
dump                                           3
dumps                                          1
e com                                          1
e sco                                          1
e-bik                                          1
east                                           1
elect                                          4
ems b                                          1
f550                                           1
fd tr                                          1
fdny                                           6
fire                                          10
firet                                          2
flat                                           1
food                                           2
ford                                           1
g spc                                          1
garba                                          4
ice c                                          1
icecr                                          1
mc                                             1
miniv                                          1
mopad                                          1
moped                                          3
motor                                          2
mta b                                          1
mtr s                                          1
nat g                                          1
nyc a                                          1
pay l                                          1
pc                                             1
pedic                                          1
pick                                           5
picku                                          2
posta                                          4
power                                          1
prks                                           1
red t                                          1
refg                                           1
rmp                                            1
rv                                             2
sanit                                          2
schoo                                          6

In [104]:
df_crash.groupby('VEHICLE TYPE CODE 2')['COLLISION_ID'].nunique()

VEHICLE TYPE CODE 2
00                                          1
013                                         1
1                                           1
11 PA                                       1
12 PA                                       1
2 dr sedan                                 16
3-Door                                     29
3D                                         12
4 dr sedan                                312
4DS                                         1
4DSD                                        1
600AJ                                       1
994                                         1
ALUMI                                       1
AM                                         62
AMB                                         4
AMBU                                        8
AMBUL                                      49
AMBULANCE                                 985
AR                                         16
ARMOR                                       1
Ambul                                      18
Ambulance                                 256
Armored Truck                              47
BACK                                        2
BACKH                                       4
BICYCLE                                 20888
BK                                          1
BLU B                                       1
BOB C                                       1
BOBCA                                       1
BOOM                                        1
BOX                                         1
BOX T                                      16
BR                                          8
BROOM                                       1
BROWN                                       1
BU                                        909
BULLD                                       3
BUMP                                        1
BUS                                      9638
Backh                                       1
Beverage Truck                             47
Bike                                     4023
Box T                                       1
Box Truck                                3907
Bulk Agriculture                           18
Bus                                      2815
C0MME                                       1
CARGO                                       2
CASE                                        1
CAT                                         2
CAT32                                       1
CATER                                       2
CB                                         20
CITY                                        1
CM                                         24
CMIX                                        2
COM                                        13
COMER                                       1
COMME                                       7
CONST                                       2
CONT                                        1
CONV                                      101
CRANE                                       3
CRWZK                                       1
Cargo                                       1
Carri                                       1
Carry All                                 263
Cater                                       1
Chassis Cab                                83
City                                        1
Com t                                       1
Comme                                       3
Concrete Mixer                             84
Convertible                               336
Crane                                       1
DELIV                                      12
DELV                                        8
DELV.                                       1
DETAC                                       1
DIG-I                                       1
DIRT                                        1
DIRTB                                       1
DP                                        137
DS                                        302
DSNY                                        1
DUMP                                       20
DUMPS                                       1
Dump                                      541
E BIK                                       1
E Bik                                       2
E PAS                                       1
E SCO                                       2
E-BIK                                      16
E-Bik                                     148
E-SCO                                       1
E-Sco                                     139
EBIKE                                       2
ECONO                                       1
ELECT                                      16
EMS A                                       1
EMT                                         1
ENCLO                                       1
ENGIN                                       1
ESCAV                                       1
EXCAV                                       1
Elect                                       9
FB                                         83
FD TR                                       3
FDNY                                       37
FEDER                                       1
FEDEX                                       1
FIRE                                       35
FIRE TRUCK                                485
FIRET                                      16
FLAT                                        2
FLATB                                       2
FOOD                                        3
FORD                                        2
FORK                                        4
FORKL                                      12
FR                                          8
FRE T                                       1
FREIG                                       4
Fire                                        7
Firet                                       1
Flat Bed                                  349
Flat Rack                                  38
Food                                        1
Fork                                        2
Forkl                                       2
Freig                                       1
G PAS                                       1
GARBA                                       4
GAS S                                       1
GAS T                                       1
GATOR                                       1
GG                                         73
GLBEN                                       1
GN                                          1
GOLF                                        1
GOV'T                                       1
GOVER                                       2
Garba                                       1
Garbage or Refuse                         272
Glass Rack                                  3
HI-LO                                       1
HINO                                        3
Hopper                                      2
INTER                                       2
JOHN                                        1
JOHND                                       1
KENWO                                       1
LADDE                                       2
LARGE COM VEH(6 OR MORE TIRES)           9308
LF                                          6
LIGHT                                       1
LIMO                                       30
LIMOU                                       3
LIVERY VEHICLE                           6795
LL                                         76
LW                                          1
Liebh                                       1
Lift Boom                                  24
Light                                       1
Livestock Rack                              3
Lunch Wagon                                 3
MACK                                        4
MAIL                                        1
MAN B                                       1
MAN L                                       2
MB                                          9
MD                                         16
MINI                                        1
MK                                          2
MOBIL                                       1
MOPD                                        1
MOPED                                      15
MOTOR                                      11
MOTORCYCLE                               3781
MS                                         18
MTA B                                       7
MTA b                                       1
MTRIZ                                       1
Mini                                        1
Minibike                                    8
Minicycle                                   3
Moped                                     103
Mopen                                       1
Motor                                       2
Motorbike                                  67
Motorcycle                                708
Motorized Home                              3
Motorscooter                               76
Multi-Wheeled Vehicle                      11
ND                                          1
NEW Y                                       1
NYC D                                       1
NYC F                                       2
OIL T                                       1
OLM                                         1
OML/                                        1
OMT                                         2
OP                                          3
OTHER                                   17889
Open Body                                   9
P/SH                                        1
PAS                                         5
PASS                                        2
PASSENGER VEHICLE                      313049
PC                                          2
PCH                                         1
PEDICAB                                    98
PICK-                                       1
PICK-UP TRUCK                           11955
PICKU                                       3
PISH                                        1
PK                                        333
PL                                          2
PM                                          1
POSTA                                       3
POWER                                       9
PSD                                         2
Pallet                                      7
Passe                                       1
Pavin                                       1
Pedicab                                    20
Pick-up Truck                            4452
Picku                                       1
Pickup with mounted Camper                  8
Pumpe                                       1
RAZOR                                       1
RD/S                                        1
REFG                                        1
REP                                         1
RF                                         20
RGS                                         1
ROAD                                        1
RV                                          2
Refri                                       1
Refrigerated Van                           66
Rescu                                       1
Road                                        1
SANIT                                       2
SCHOO                                      12
SCOOT                                      13
SCOOTER                                   252
SCOTT                                       1
SE                                          1
SELF                                        3
SEMI-                                       1
SMALL COM VEH(4 TIRES)                  11183
SP                                          6
SPINT                                       1
SPORT UTILITY / STATION WAGON          138136
SPRIN                                       3
ST                                          5
STREE                                       3
SWEEP                                       1
Schoo                                       3
School Bus                                 22
Sciss                                       1
Scoot                                       4
Sedan                                   56699
Small                                       1
Snow Plow                                  12
Stake or Rack                              22
Station Wagon/Sport Utility Vehicle     46428
Subn                                        1
TANK                                        1
TAXI                                    30169
TK                                       1038
TKP                                         1
TN                                         34
TOW                                         2
TOW T                                      15
TOWER                                       2
TR                                         61
TRAC                                        5
TRACK                                       1
TRACT                                      12
TRAIL                                      48
TRK                                         3
TRL                                         4
TRUCK                                      53
TT                                         32
Tanker                                    103
Taxi                                     6492
Tlr                                         1
Tow                                         1
Tow T                                       1
Tow Truck                                   4
Tow Truck / Wrecker                       138
Tow t                                       1
Tract                                       1
Tractor Truck Diesel                     1126
Tractor Truck Gasoline                    209
Trail                                       8
Truck                                       4
U HAU                                       1
U-HAU                                       1
U-Hau                                       1
UD                                          1
UHAUL                                       1
UNK                                         9
UNKNO                                      27
UNKNOWN                                 64670
UNKOW                                       2
US PO                                       5
US Po                                       2
USPS                                       11
UTIL                                        2
UTILI                                       1
Uber                                        1
Unk,                                        1
Unkno                                       3
Unspecified                            133735
Us po                                       1
Utili                                       1
VAN                                     18783
VAN T                                       5
VAN/B                                       1
VAN/T                                       2
VC                                          2
VENDO                                       1
VESPA                                       1
VMS T                                       1
VN                                        277
Van                                      1062
Van Camper                                  2
Vanette                                     2
WAGON                                       2
WC                                          1
WHITE                                       2
YELLO                                       2
ambu                                        2
ambul                                      12
armor                                       1
bed                                         1
bobca                                       3
boxtr                                       1
bus                                         4
bycic                                       1
c7c                                         1
case                                        1
cemen                                       1
city                                        1
com                                         2
comme                                       3
const                                       3
conv                                        1
crane                                       1
delv                                        1
dump                                        3
dumps                                       1
e bik                                       1
e-BIK                                       1
elect                                       5
fdny                                        3
fire                                        9
firet                                       5
flat                                        1
foor                                        1
fork                                        3
forkl                                       1
freig                                       1
frieg                                       1
garba                                       1
gov v                                       1
itas                                        1
jeep                                        1
mack                                        1
mail                                        2
mecha                                       1
mo-pe                                       1
moped                                       5
motor                                       1
mta b                                       2
nissa                                       1
nyc d                                       1
nyc f                                       1
omr                                         2
omt                                         1
pick                                        2
pick-                                       1
posta                                       4
power                                       3
sanit                                       2
scava                                       1
schoo                                       5
scoot                                       3
sedan                                       1
semi-                                       2
small                                       1
stree                                       1
subn                                        1
tank                                        1
tk                                          3
tow                                         1
tow t                                       3
tr                                          1
tract                                       2
trail                                      18
trl                                         1
truck                                       5
unk                                         3
unkno                                       3
usps                                        2
util                                        1
utili                                       2
utlit                                       1
van                                        46
wagon                                       1
work                                        1
yello                                       1
Name: COLLISION_ID, dtype: int64

In [105]:
df_crash.groupby('CONTRIBUTING FACTOR VEHICLE 1')['COLLISION_ID'].nunique()

CONTRIBUTING FACTOR VEHICLE 1
80                                                            6
Accelerator Defective                                       394
Aggressive Driving/Road Rage                               3296
Alcohol Involvement                                        8319
Animals Action                                              491
Backing Unsafely                                          30071
Brakes Defective                                           2596
Cell Phone (hand-Held)                                      113
Cell Phone (hand-held)                                       56
Cell Phone (hands-free)                                     159
Driver Inattention/Distraction                           155746
Driver Inexperience                                       13009
Driverless/Runaway Vehicle                                  240
Drugs (Illegal)                                             318
Drugs (illegal)                                             191
Eating or Drinking                                           30
Failure to Keep Right                                      1538
Failure to Yield Right-of-Way                             61824
Fatigued/Drowsy                                           24961
Fell Asleep                                                1537
Following Too Closely                                     26302
Glare                                                      1894
Headlights Defective                                         69
Illnes                                                      327
Illness                                                    1859
Lane Marking Improper/Inadequate                            441
Listening/Using Headphones                                    8
Lost Consciousness                                        15036
Obstruction/Debris                                         1405
Other Electronic Device                                    1706
Other Lighting Defects                                       79
Other Vehicular                                           30823
Outside Car Distraction                                    6623
Oversized Vehicle                                          6467
Passenger Distraction                                      4557
Passing Too Closely                                       13387
Passing or Lane Usage Improper                            16306
Pavement Defective                                          905
Pavement Slippery                                          8363
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      2611
Physical Disability                                        7496
Prescription Medication                                   12717
Reaction to Other Uninvolved Vehicle                       1067
Reaction to Uninvolved Vehicle                             4274
Shoulders Defective/Improper                                 33
Steering Failure                                            833
Texting                                                      11
Tinted Windows                                               35
Tire Failure/Inadequate                                     570
Tow Hitch Defective                                          96
Traffic Control Device Improper/Non-Working                 442
Traffic Control Disregarded                               16188
Turning Improperly                                        23579
Unsafe Lane Changing                                      10567
Unsafe Speed                                               5305
Unspecified                                              395649
Using On Board Navigation Device                             36
Vehicle Vandalism                                            30
View Obstructed/Limited                                    5196
Windshield Inadequate                                        38
Name: COLLISION_ID, dtype: int64

In [106]:
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Illnes','Illness')
df_crash['CONTRIBUTING FACTOR VEHICLE 1'].str.replace('Cell Phone (hand-Held)','Cell Phone (hand-held)')

1          Driver Inattention/Distraction
4                             Unspecified
7             Traffic Control Disregarded
14         Driver Inattention/Distraction
17         Driver Inattention/Distraction
                        ...
1672126                       Unspecified
1672127                       Unspecified
1672128                       Unspecified
1672129                       Unspecified
1672130                       Unspecified
Name: CONTRIBUTING FACTOR VEHICLE 1, Length: 928225, dtype: object

In [107]:
df_crash.groupby('CONTRIBUTING FACTOR VEHICLE 2')['COLLISION_ID'].nunique()

CONTRIBUTING FACTOR VEHICLE 2
80                                                            1
Accelerator Defective                                        41
Aggressive Driving/Road Rage                                730
Alcohol Involvement                                         746
Animals Action                                               33
Backing Unsafely                                           3797
Brakes Defective                                            183
Cell Phone (hand-Held)                                       20
Cell Phone (hand-held)                                       18
Cell Phone (hands-free)                                      29
Driver Inattention/Distraction                            41502
Driver Inexperience                                        3537
Driverless/Runaway Vehicle                                   14
Drugs (Illegal)                                              74
Drugs (illegal)                                              15
Eating or Drinking                                            2
Failure to Keep Right                                       315
Failure to Yield Right-of-Way                              9121
Fatigued/Drowsy                                            6045
Fell Asleep                                                 321
Following Too Closely                                      3992
Glare                                                       227
Headlights Defective                                         27
Illnes                                                       17
Illness                                                     365
Lane Marking Improper/Inadequate                            257
Listening/Using Headphones                                    4
Lost Consciousness                                         4037
Obstruction/Debris                                          238
Other Electronic Device                                     477
Other Lighting Defects                                       21
Other Vehicular                                           17382
Outside Car Distraction                                    1263
Oversized Vehicle                                          1159
Passenger Distraction                                       992
Passing Too Closely                                        2878
Passing or Lane Usage Improper                             3899
Pavement Defective                                           81
Pavement Slippery                                          1887
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion       648
Physical Disability                                        1806
Prescription Medication                                    2511
Reaction to Other Uninvolved Vehicle                        299
Reaction to Uninvolved Vehicle                              668
Shoulders Defective/Improper                                  8
Steering Failure                                             53
Texting                                                       1
Tinted Windows                                               10
Tire Failure/Inadequate                                      43
Tow Hitch Defective                                          11
Traffic Control Device Improper/Non-Working                 268
Traffic Control Disregarded                                3694
Turning Improperly                                         4729
Unsafe Lane Changing                                       1981
Unsafe Speed                                               1443
Unspecified                                              803065
Using On Board Navigation Device                              4
Vehicle Vandalism                                             2
View Obstructed/Limited                                    1229
Windshield Inadequate                                         5
Name: COLLISION_ID, dtype: int64

In [108]:
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Drugs (illegal)','Drugs (Illegal)')
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Illnes','Illness')
df_crash['CONTRIBUTING FACTOR VEHICLE 2'].str.replace('Cell Phone (hand-Held)','Cell Phone (hand-held)')

1          Driver Inattention/Distraction
4                             Unspecified
7                             Unspecified
14                            Unspecified
17                            Unspecified
                        ...
1672126                       Unspecified
1672127                       Unspecified
1672128                       Unspecified
1672129                       Unspecified
1672130                       Unspecified
Name: CONTRIBUTING FACTOR VEHICLE 2, Length: 928225, dtype: object

### ENTER BOROUGH INFORMATION HERE

In [109]:
# Get names of indexes for which coordinates are invalid
indexNames = df_crash[(df_crash['LATITUDE'] < 30) & (df_crash['LONGITUDE'] > -50)].index
 
# Delete these row indexes from dataFrame
df_crash.drop(indexNames , inplace=True)

In [110]:
#df_crash['geom'] = df_crash['LATITUDE'].map(str) + ',' + df_crash['LONGITUDE'].map(str)

In [111]:
#params = {'key': 'AIzaSyDgn7Nv9NQPZJi9UKB7VWdhVEGFF0EVAgg', 'latlng': '40.655834,-73.839035','result_type':'sublocality'}
#r = requests.get('https://maps.googleapis.com/maps/api/geocode/json',params=params)
#json_response = r.json()
#borough = json_response['results'][0]['address_components'][0]['long_name']

In [112]:
# Google api
def get_borough(col):
    params = {'key': 'AIzaSyDgn7Nv9NQPZJi9UKB7VWdhVEGFF0EVAgg', 'latlng': col,'result_type':'sublocality'}
    r = requests.get('https://maps.googleapis.com/maps/api/geocode/json',params=params)
    json_response = r.json()
    borough = json_response['results'][0]['address_components'][0]['long_name']
    return borough

In [113]:
df_crash.head()

,CRASH DATE,CRASH TIME,BOROUGH,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1,06/01/2016,13:54,QUEENS,40.655834,-73.839035,CROSS BAY BOULEVARD,161 AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,3453947,PASSENGER VEHICLE,PASSENGER VEHICLE
4,06/03/2016,17:15,QUEENS,40.665558,-73.729850,HOOK CREEK BOULEVARD,SUNRISE HIGHWAY,0,0,0,0,0,0,0,0,Unspecified,Unspecified,3455499,PASSENGER VEHICLE,PASSENGER VEHICLE
7,05/12/2016,3:35,MANHATTAN,40.738316,-73.987730,EAST 20 STREET,PARK AVENUE SOUTH,2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,3439699,PASSENGER VEHICLE,PASSENGER VEHICLE
14,05/18/2016,21:15,QUEENS,40.768906,-73.736960,NORTHERN BOULEVARD,CORNELL LANE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3452101,PASSENGER VEHICLE,PASSENGER VEHICLE
17,05/24/2016,9:03,STATEN ISLAND,40.562130,-74.118190,HYLAN BOULEVARD,OAK AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3452710,PASSENGER VEHICLE,PASSENGER VEHICLE

## Clean vehicle set

In [114]:
df_vehicle.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,TRAVEL_DIRECTION,VEHICLE_OCCUPANTS,DRIVER_SEX,DRIVER_LICENSE_STATUS,DRIVER_LICENSE_JURISDICTION,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,09/07/2012,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140121,4229438,10/18/2019,18:00,52ae0029-b174-40c9-9ef5-abdd5fdb2704,NJ,Sedan,HYUN -CAR/SUV,NaN,2015.0,West,0.0,NaN,NaN,NaN,Parked,Left Front Bumper,Left Front Bumper,No Damage,No Damage,No Damage,N,NaN,Unspecified,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,NY,TAXI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,10/04/2015,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,04/25/2013,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN

In [115]:
df_vehicle.isnull().sum()

UNIQUE_ID                            0
COLLISION_ID                         0
CRASH_DATE                           0
CRASH_TIME                           0
VEHICLE_ID                           0
STATE_REGISTRATION              152152
VEHICLE_TYPE                    132033
VEHICLE_MAKE                   1713629
VEHICLE_MODEL                  3294186
VEHICLE_YEAR                   1720659
TRAVEL_DIRECTION               1607383
VEHICLE_OCCUPANTS              1668167
DRIVER_SEX                     1917770
DRIVER_LICENSE_STATUS          1971646
DRIVER_LICENSE_JURISDICTION    1961964
PRE_CRASH                       850587
POINT_OF_IMPACT                1628802
VEHICLE_DAMAGE                 1640673
VEHICLE_DAMAGE_1               2277825
VEHICLE_DAMAGE_2               2557501
VEHICLE_DAMAGE_3               2745625
PUBLIC_PROPERTY_DAMAGE         1528863
PUBLIC_PROPERTY_DAMAGE_TYPE    3331696
CONTRIBUTING_FACTOR_1            92818
CONTRIBUTING_FACTOR_2          1620959
dtype: int64

In [116]:
len(df_vehicle['COLLISION_ID'].unique())

1672226

In [117]:
df_vehicle = df_vehicle[['UNIQUE_ID','COLLISION_ID','CRASH_DATE','CRASH_TIME','VEHICLE_ID',\
                        'VEHICLE_TYPE','VEHICLE_YEAR','DRIVER_SEX','PRE_CRASH','POINT_OF_IMPACT','VEHICLE_DAMAGE']]

In [118]:
df_vehicle.isnull().sum()

UNIQUE_ID                0
COLLISION_ID             0
CRASH_DATE               0
CRASH_TIME               0
VEHICLE_ID               0
VEHICLE_TYPE        132033
VEHICLE_YEAR       1720659
DRIVER_SEX         1917770
PRE_CRASH           850587
POINT_OF_IMPACT    1628802
VEHICLE_DAMAGE     1640673
dtype: int64

In [119]:
df_vehicle.dropna()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,VEHICLE_TYPE,VEHICLE_YEAR,DRIVER_SEX,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE
5,17044639,3434155,05/02/2016,17:35,219456,4 dr sedan,2015.0,M,Merging,Right Front Bumper,Right Front Bumper
6,19139564,4228846,10/23/2019,20:40,a6e7f188-c660-4208-b907-1833d8676d47,Sedan,2007.0,M,Going Straight Ahead,Left Rear Quarter Panel,Left Side Doors
7,17303317,3503027,08/18/2016,12:39,672828,Station Wagon/Sport Utility Vehicle,2005.0,F,Going Straight Ahead,Center Front End,Center Front End
10,17285715,3487936,07/22/2016,15:40,554272,Convertible,2013.0,M,Stopped in Traffic,Right Rear Bumper,Right Rear Bumper
12,17307366,3499697,08/13/2016,21:05,650962,Sedan,2015.0,F,Going Straight Ahead,Left Side Doors,Left Side Doors
...,...,...,...,...,...,...,...,...,...,...,...
3345801,19357153,4308794,04/13/2020,23:55,350a729b-7409-4a01-9a30-e1fd4c7d9b2b,Sedan,2017.0,M,Making Left Turn,Left Front Quarter Panel,Left Front Quarter Panel
3345804,19357178,4308879,04/13/2020,0:22,0a0c23b0-09a3-4bc1-bb28-90e01f2a52a6,Sedan,2009.0,F,Going Straight Ahead,Center Front End,Center Front End
3345805,19357039,4308779,04/13/2020,14:30,8ffa655f-855b-475b-9530-7594a93ae5d7,Sedan,2015.0,F,Going Straight Ahead,Center Front End,Demolished
3345806,19357435,4308789,04/12/2020,17:00,b544ff1f-2f38-4aff-8fbf-bc73263b3bf1,Sedan,2014.0,M,Parked,Left Side Doors,Left Side Doors
3345807,19357175,4308732,04/13/2020,14:06,85ba1c16-9442-4c4d-ab54-980b3d45d5df,Station Wagon/Sport Utility Vehicle,2018.0,M,Going Straight Ahead,Center Back End,Roof

In [120]:
values = {'VEHICLE_TYPE':'Unspecified','VEHICLE_YEAR':'Unspecified','DRIVER_SEX':'U',\
         'PRE_CRASH':'Unspecified','POINT_OF_IMPACT':'Unspecified','VEHICLE_DAMAGE':'Unspecified',\
         'CONTRIBUTING_FACTOR_1':'Unspecified'}
df_vehicle.fillna(value=values,inplace=True)

In [121]:
df_vehicle.isnull().sum()

UNIQUE_ID          0
COLLISION_ID       0
CRASH_DATE         0
CRASH_TIME         0
VEHICLE_ID         0
VEHICLE_TYPE       0
VEHICLE_YEAR       0
DRIVER_SEX         0
PRE_CRASH          0
POINT_OF_IMPACT    0
VEHICLE_DAMAGE     0
dtype: int64

In [122]:
df_vehicle.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,VEHICLE_TYPE,VEHICLE_YEAR,DRIVER_SEX,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE
0,10385780,100201,09/07/2012,9:03,1,PASSENGER VEHICLE,Unspecified,U,Unspecified,Unspecified,Unspecified
1,19140121,4229438,10/18/2019,18:00,52ae0029-b174-40c9-9ef5-abdd5fdb2704,Sedan,2015,U,Parked,Left Front Bumper,Left Front Bumper
2,14887647,3307608,10/02/2015,17:18,2,TAXI,Unspecified,U,Going Straight Ahead,Unspecified,Unspecified
3,14889754,3308693,10/04/2015,20:34,1,PASSENGER VEHICLE,Unspecified,U,Parked,Unspecified,Unspecified
4,14400270,297666,04/25/2013,21:15,1,PASSENGER VEHICLE,Unspecified,U,Unspecified,Unspecified,Unspecified

### Clean strings

In [123]:
df_vehicle.dtypes

UNIQUE_ID           int64
COLLISION_ID        int64
CRASH_DATE         object
CRASH_TIME         object
VEHICLE_ID         object
VEHICLE_TYPE       object
VEHICLE_YEAR       object
DRIVER_SEX         object
PRE_CRASH          object
POINT_OF_IMPACT    object
VEHICLE_DAMAGE     object
dtype: object

In [124]:
pd.options.display.max_seq_items = 4000

In [125]:
df_vehicle.groupby('VEHICLE_TYPE')['COLLISION_ID'].nunique()

VEHICLE_TYPE
(ceme    1
.        1
0        1
00       2
000      2
        ..
work     5
yello    5
yw       1
yy       1
omm     1
Name: COLLISION_ID, Length: 1407, dtype: int64

In [126]:
df_vehicle.groupby('VEHICLE_YEAR')['COLLISION_ID'].nunique()

VEHICLE_YEAR
1000.0              1
1111.0              3
1900.0              7
1920.0              2
1921.0              1
1923.0              1
1926.0              1
1930.0              1
1932.0              1
1933.0              2
1936.0              2
1939.0              1
1940.0              2
1941.0              1
1942.0              1
1945.0              1
1946.0              1
1948.0              1
1949.0              4
1950.0              4
1951.0              3
1952.0              2
1953.0              2
1954.0              2
1955.0              3
1956.0              3
1957.0              4
1958.0              5
1959.0              5
1960.0              7
1962.0              6
1963.0              8
1964.0             14
1965.0             26
1966.0             37
1967.0             23
1968.0             19
1969.0             24
1970.0             33
1971.0             48
1972.0             45
1973.0             42
1974.0             37
1975.0             38
1976.0             64
1977.0             48
1978.0             70
1979.0             86
1980.0             71
1981.0             84
1982.0             91
1983.0            138
1984.0            180
1985.0            226
1986.0            232
1987.0            440
1988.0            484
1989.0            608
1990.0            803
1991.0            952
1992.0           1260
1993.0           1589
1994.0           2412
1995.0           4057
1996.0           4784
1997.0           8001
1998.0          11504
1999.0          16067
2000.0          23704
2001.0          26328
2002.0          33769
2003.0          42183
2004.0          48467
2005.0          55345
2006.0          60510
2007.0          68303
2008.0          64470
2009.0          53873
2010.0          60586
2011.0          72810
2012.0          82420
2013.0         103467
2014.0         123615
2015.0         166745
2016.0         167228
2017.0         137589
2018.0          79428
2019.0          36202
2020.0           4383
2021.0             42
2022.0             27
2023.0             33
2024.0             34
2025.0             18
2026.0             43
2027.0             34
2028.0             19
2029.0              6
2030.0              2
2033.0              9
2038.0              1
2040.0              3
2041.0             13
2042.0              9
2043.0              2
2044.0              8
2045.0              8
2046.0             10
2047.0             10
2048.0              4
2049.0              5
2050.0              1
2051.0              2
2055.0              4
2056.0              1
2066.0              6
2071.0              2
2073.0              2
2074.0              5
2076.0              3
2077.0              8
2081.0              1
2082.0              6
2083.0             15
2084.0              6
2085.0              2
2086.0              6
2087.0              2
2088.0             19
2089.0              6
2091.0              2
2096.0              4
2098.0              2
2099.0              6
2100.0              5
2101.0              8
2102.0              7
2103.0             25
2104.0             16
2105.0             15
2106.0             16
2107.0              9
2108.0              8
2109.0              5
2110.0              2
2112.0              2
2114.0              1
2116.0              1
2199.0              1
2200.0             11
2201.0             33
2202.0              3
2203.0              3
2204.0              5
2205.0              6
2206.0              8
2207.0             13
2208.0              7
2209.0             10
2210.0              1
2213.0              1
2214.0              1
2215.0              1
2222.0              4
2300.0              1
2301.0              2
2307.0              1
2313.0              1
2501.0              3
2545.0              1
2587.0              1
2616.0              1
2710.0              1
2711.0              1
2713.0              2
2714.0              1
2715.0              2
2716.0              4
2717.0              1
2718.0              3
2719.0              1
2803.0              1
2806.0              1
2811.0              2
2812.0              2
2813.0              9
2814.0              8
2815.0             12
2816.0             22
2817.0              5
2818.0              7
2819.0              3
2880.0              1
2889.0              1
2901.0              1
2911.0              4
2912.0              2
2913.0              9
2914.0             18
2915.0             19
2916.0             20
2917.0             12
2918.0              8
2919.0              2
2993.0              9
2994.0              4
2995.0              7
2996.0              5
2997.0              4
2998.0              5
3000.0              1
3002.0              1
3003.0              1
3004.0              5
3005.0              4
3006.0              2
3007.0              2
3008.0              3
3010.0              3
3011.0              6
3012.0              4
3013.0             10
3014.0              7
3015.0              7
3016.0             19
3017.0             17
3018.0              6
3019.0              3
3023.0              2
3024.0              1
3025.0              1
3026.0              1
3028.0              1
3333.0              1
4321.0              1
4979.0              1
4986.0              2
4987.0              1
4991.0              1
4992.0              1
4994.0              3
4995.0              2
4996.0              1
4997.0              2
4998.0              7
4999.0              1
5001.0              1
5004.0              2
5005.0              2
5009.0              1
5012.0              1
5013.0              1
5014.0              3
5015.0              4
5016.0              3
5017.0              2
5018.0              1
5220.0              1
5290.0              1
5555.0              1
5582.0              1
6269.0              1
6666.0              2
7258.0              1
7398.0              1
7993.0              1
7998.0              3
8001.0              1
8008.0              1
8014.0              1
8016.0              2
8018.0              1
8339.0              1
8888.0              1
9699.0              1
9999.0            604
19969.0             1
20003.0             1
20009.0             1
20015.0             2
20063.0             1
Unspecified    953224
Name: COLLISION_ID, dtype: int64

In [127]:
df_vehicle.groupby('PRE_CRASH')['COLLISION_ID'].nunique()

PRE_CRASH
Avoiding Object in Roadway      2761
Backing                        90924
Changing Lanes                 76197
Entering Parked Position       34125
Going Straight Ahead          887311
Making Left Turn              136691
Making Left Turn on Red          767
Making Right Turn             106811
Making Right Turn on Red         704
Making U Turn                  21157
Merging                        39121
Other*                         25882
Parked                        345477
Passing                        27749
Police Pursuit                   587
Slowing or Stopping            76667
Starting from Parking          44797
Starting in Traffic            10045
Stopped in Traffic            108096
Unspecified                   482901
Name: COLLISION_ID, dtype: int64

## Clean people set

In [128]:
df_people.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,19142923.0,0.0,Not Ejected,Does Not Apply,Does Not Apply,"Any person in the rear of a station wagon, pick-up truck, all passengers on a bus, etc",Unknown,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,19143291.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,19141868.0,11.0,Not Ejected,Conscious,Entire Body,"Middle rear seat, or passenger lying across a seat",Unknown,NaN,NaN,Whiplash,Passenger,NaN,NaN,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,NaN,30.0,NaN,Conscious,Knee-Lower Leg Foot,Driver,None,Pedestrian/Bicyclist/Other Pedestrian at Intersection,Crossing Against Signal,Fracture - Distorted - Dislocation,Pedestrian,Pedestrian/Bicyclist/Other Pedestrian Error/Confusion,Texting,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN

In [129]:
df_people.isnull().sum()

UNIQUE_ID                      0
COLLISION_ID                   0
CRASH_DATE                     0
CRASH_TIME                     0
PERSON_ID                     19
PERSON_TYPE                    0
PERSON_INJURY                  0
VEHICLE_ID                151782
PERSON_AGE                294988
EJECTION                 1911145
EMOTIONAL_STATUS         1864739
BODILY_INJURY            1864696
POSITION_IN_VEHICLE      1910875
SAFETY_EQUIPMENT         1910925
PED_LOCATION             3858762
PED_ACTION               3858863
COMPLAINT                1864689
PED_ROLE                  194895
CONTRIBUTING_FACTOR_1    3859973
CONTRIBUTING_FACTOR_2    3860035
PERSON_SEX                468460
dtype: int64

In [130]:
len(df_people)

3908459

In [131]:
df_people = df_people.drop(columns = ['PED_LOCATION','PED_ACTION','CONTRIBUTING_FACTOR_1','CONTRIBUTING_FACTOR_2',\
                                     'EJECTION','EMOTIONAL_STATUS','BODILY_INJURY','POSITION_IN_VEHICLE',\
                                     'SAFETY_EQUIPMENT','COMPLAINT'])

In [132]:
df_people.isnull().sum()

UNIQUE_ID             0
COLLISION_ID          0
CRASH_DATE            0
CRASH_TIME            0
PERSON_ID            19
PERSON_TYPE           0
PERSON_INJURY         0
VEHICLE_ID       151782
PERSON_AGE       294988
PED_ROLE         194895
PERSON_SEX       468460
dtype: int64

In [133]:
values = {'VEHICLE_ID':'Unspecified','PERSON_ID':'Unspecified','PERSON_AGE': 'Unspecified','PED_ROLE':'Unspecified',\
         'PERSON_SEX':'U'}
df_people.fillna(value=values,inplace=True)

In [134]:
df_people.isnull().sum()

UNIQUE_ID        0
COLLISION_ID     0
CRASH_DATE       0
CRASH_TIME       0
PERSON_ID        0
PERSON_TYPE      0
PERSON_INJURY    0
VEHICLE_ID       0
PERSON_AGE       0
PED_ROLE         0
PERSON_SEX       0
dtype: int64

In [135]:
df_people.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,PED_ROLE,PERSON_SEX
0,10252788,4230640,10/25/2019,17:42,0278267c-0b21-470f-8a54-da71b7361448,Occupant,Unspecified,1.91429e+07,0,Passenger,F
1,10253512,4230733,10/10/2019,19:45,81161123-516c-438d-8f29-a107d2783d85,Occupant,Unspecified,1.91433e+07,Unspecified,Registrant,U
2,10250662,4230235,10/26/2019,10:40,b5da9aa6-3230-4203-bbde-3b6f9248ac31,Occupant,Injured,1.91419e+07,11,Passenger,F
3,10252894,4231115,10/26/2019,18:45,4ed210b6-678c-4fe3-ae8c-3ecd30eae7aa,Pedestrian,Injured,Unspecified,30,Pedestrian,M
4,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,Unspecified,Unspecified,Notified Person,U

In [136]:
df_people.dtypes

UNIQUE_ID         int64
COLLISION_ID      int64
CRASH_DATE       object
CRASH_TIME       object
PERSON_ID        object
PERSON_TYPE      object
PERSON_INJURY    object
VEHICLE_ID       object
PERSON_AGE       object
PED_ROLE         object
PERSON_SEX       object
dtype: object

### Clean strings

In [137]:
df_people.groupby('PERSON_AGE')['COLLISION_ID'].nunique()

PERSON_AGE
-999.0              8
-997.0              1
-992.0              1
-990.0              1
-989.0              1
-987.0              1
-982.0              2
-980.0              1
-979.0              3
-978.0              3
-977.0              5
-976.0              1
-975.0              6
-974.0              4
-973.0              3
-972.0              9
-971.0              3
-970.0              3
-969.0              4
-968.0              6
-967.0             13
-966.0              7
-965.0              9
-964.0              9
-963.0              6
-962.0              9
-961.0              3
-960.0              7
-959.0              7
-958.0              5
-957.0              5
-956.0              2
-955.0              6
-954.0              2
-953.0              6
-952.0              3
-951.0              5
-950.0              3
-949.0              7
-948.0              3
-947.0              3
-946.0              6
-945.0              5
-944.0              4
-943.0              2
-942.0              3
-941.0              5
-939.0              4
-938.0              5
-937.0              1
-936.0              3
-935.0              1
-934.0              2
-933.0              2
-932.0              1
-931.0              1
-930.0              3
-929.0              1
-927.0              2
-924.0              1
-922.0              1
-916.0              1
-913.0              1
-900.0              2
-899.0              1
-897.0              1
-894.0              1
-893.0              1
-799.0              1
-798.0             45
-797.0              5
-722.0              1
-718.0              2
-717.0              5
-716.0              1
-715.0              1
-714.0              4
-626.0              1
-618.0              4
-617.0              5
-599.0              1
-597.0             37
-596.0             51
-595.0             41
-594.0             59
-593.0             24
-592.0              4
-590.0              1
-551.0              1
-537.0              2
-536.0              1
-534.0              3
-533.0              3
-518.0              4
-418.0              7
-417.0              4
-318.0              1
-317.0              4
-297.0              1
-296.0              3
-295.0              1
-294.0              1
-293.0              1
-255.0              1
-218.0              3
-217.0              3
-205.0              1
-199.0              1
-198.0              2
-194.0              2
-193.0              1
-191.0              1
-189.0              1
-188.0              1
-184.0              3
-181.0              2
-180.0              1
-179.0              1
-178.0              5
-177.0              2
-174.0              1
-118.0              1
-117.0              3
0.0            409839
1.0              9480
2.0              8800
3.0              8916
4.0              9049
5.0              9191
6.0              9345
7.0              9530
8.0              9880
9.0              9937
10.0            10135
11.0             9615
12.0             9213
13.0             8619
14.0             8288
15.0             8189
16.0             9399
17.0            13671
18.0            20089
19.0            26065
20.0            31662
21.0            37465
22.0            42960
23.0            47753
24.0            51079
25.0            54198
26.0            55947
27.0            56986
28.0            56760
29.0            56486
30.0            55962
31.0            53313
32.0            52613
33.0            50613
34.0            49284
35.0            48100
36.0            46508
37.0            45613
38.0            44106
39.0            43379
40.0            43224
41.0            40975
42.0            40329
43.0            39150
44.0            38761
45.0            39366
46.0            38921
47.0            39440
48.0            39320
49.0            38810
50.0            38372
51.0            38055
52.0            38417
53.0            38060
54.0            37380
55.0            36115
56.0            35011
57.0            32811
58.0            31926
59.0            30484
60.0            29206
61.0            26941
62.0            25313
63.0            22471
64.0            20521
65.0            18641
66.0            16682
67.0            15169
68.0            14308
69.0            13149
70.0            11818
71.0            10442
72.0             9223
73.0             7791
74.0             7243
75.0             6382
76.0             5702
77.0             5228
78.0             4518
79.0             4132
80.0             3691
81.0             3190
82.0             2793
83.0             2469
84.0             2243
85.0             1786
86.0             1547
87.0             1310
88.0             1138
89.0              899
90.0              763
91.0              577
92.0              443
93.0              313
94.0              218
95.0              174
96.0              123
97.0               84
98.0               71
99.0              355
100.0              55
101.0              13
102.0              11
103.0               5
104.0              12
105.0              18
106.0               9
107.0               7
108.0              11
109.0              14
110.0              10
111.0              13
112.0               5
113.0               9
114.0               7
115.0              45
116.0              95
117.0             124
118.0              74
119.0              40
120.0              18
121.0               4
122.0               6
123.0               6
124.0               7
125.0               3
126.0               1
128.0               6
129.0               1
130.0               8
131.0               7
132.0               8
133.0               4
134.0               6
135.0               2
136.0               3
137.0               2
138.0               4
140.0               3
141.0               5
142.0               6
143.0               1
144.0               4
145.0               3
147.0               2
148.0               9
149.0               6
150.0               5
151.0               2
154.0               4
156.0               1
157.0               2
158.0               2
159.0               1
160.0               1
161.0               2
162.0               1
164.0               1
165.0               1
166.0               1
169.0               1
170.0               1
181.0               1
183.0               1
185.0               1
189.0               1
201.0               1
204.0               3
205.0               1
206.0               1
207.0               3
208.0               2
209.0               3
210.0               1
211.0               5
212.0               4
216.0               2
217.0               2
219.0               1
220.0               2
221.0               2
225.0               2
226.0               1
227.0               2
228.0               4
230.0               1
231.0               2
232.0               2
233.0               1
234.0               2
235.0               3
240.0               1
241.0               1
242.0               1
244.0               1
245.0               4
248.0               1
249.0               2
250.0               1
252.0               1
254.0               1
260.0               1
262.0               1
263.0               1
273.0               1
274.0               1
294.0               1
313.0               1
316.0               2
318.0               1
320.0               1
321.0               2
323.0               1
324.0               1
331.0               2
332.0               2
338.0               1
353.0               1
361.0               1
362.0               1
364.0               1
365.0               1
369.0               1
393.0               1
403.0               1
430.0               1
446.0               1
483.0               1
487.0               1
497.0               1
501.0               1
503.0               1
510.0               1
516.0               1
537.0               1
548.0               1
583.0               1
613.0               1
629.0               1
638.0               1
641.0               1
643.0               1
683.0               1
687.0               1
721.0               1
724.0               1
726.0               1
744.0               1
748.0               1
784.0               1
793.0               1
800.0               1
803.0               1
805.0               1
806.0               1
807.0               1
812.0               1
815.0               2
816.0               1
817.0               2
818.0               3
819.0               2
820.0               5
821.0               4
822.0               5
823.0               3
824.0               4
825.0               3
826.0               2
827.0               3
828.0               6
829.0               4
830.0               1
831.0               1
832.0               5
833.0               3
834.0               4
835.0               3
836.0               6
837.0               3
838.0               6
839.0               3
840.0               3
841.0               1
842.0               4
843.0               3
844.0               3
845.0               4
846.0               3
847.0               2
848.0               9
849.0               1
850.0               3
851.0               4
852.0               1
853.0               3
854.0               1
855.0               2
856.0               1
857.0               4
858.0               2
859.0               4
860.0               8
861.0               3
862.0               1
863.0               2
866.0               1
867.0               1
869.0               3
870.0               1
871.0               1
874.0               1
875.0               3
877.0               1
888.0               1
893.0               1
896.0               1
903.0               1
904.0              26
905.0              11
911.0               1
917.0               2
919.0               2
921.0               2
922.0               2
923.0               2
924.0               3
925.0               5
926.0               3
927.0               4
928.0               4
929.0               6
930.0               1
931.0               4
932.0               1
933.0               3
934.0               2
935.0               3
936.0               4
937.0               2
938.0               4
939.0               1
941.0               2
942.0               5
944.0               6
945.0               1
946.0               4
947.0               2
948.0               1
949.0               2
950.0               3
951.0               2
952.0               5
953.0               5
954.0               2
955.0               1
957.0               3
958.0               1
959.0               3
960.0               3
961.0               1
962.0               1
963.0               1
964.0               1
965.0               2
966.0               1
967.0               3
969.0               2
971.0               1
976.0               1
981.0               1
982.0               1
983.0               1
993.0               1
999.0             197
1000.0              4
1001.0              1
1002.0              1
1003.0              4
1005.0              1
1006.0              2
1008.0              2
1010.0              2
1011.0              3
1012.0              1
1013.0              1
1014.0              2
1015.0              1
1016.0             18
1017.0              1
1018.0              1
1019.0              6
1020.0              6
1021.0             12
1022.0             10
1023.0              5
1024.0              5
1025.0              9
1026.0             12
1027.0             15
1028.0              9
1029.0             11
1030.0              6
1031.0              6
1032.0             13
1033.0              6
1034.0              8
1035.0              8
1036.0              5
1037.0              6
1038.0              7
1039.0             12
1040.0              7
1041.0              9
1042.0              8
1043.0              7
1044.0              6
1045.0             10
1046.0              5
1047.0             15
1048.0              5
1049.0              6
1050.0              8
1051.0              2
1052.0              8
1053.0              8
1054.0              7
1055.0              3
1056.0              8
1057.0             12
1058.0             12
1059.0              7
1060.0             10
1061.0              9
1062.0              5
1063.0              7
1064.0              8
1065.0              8
1066.0              5
1067.0              2
1068.0              5
1069.0              2
1070.0              4
1072.0              3
1073.0              3
1074.0              4
1075.0              2
1076.0              1
1077.0              2
1078.0              2
1079.0              3
1080.0              1
1081.0              2
1083.0              1
1085.0              1
1086.0              2
1106.0              1
1111.0              2
1171.0              1
1213.0              1
1214.0              1
1218.0              1
1226.0              1
1261.0              1
1819.0              1
1820.0              1
1976.0              1
2005.0              1
2015.0              1
2016.0              1
2041.0              1
2205.0              1
2206.0              1
2209.0              3
2211.0              1
2212.0              1
2216.0              1
2217.0              2
2221.0              1
2222.0              1
2227.0              1
2228.0              1
2229.0              1
2232.0              1
2234.0              3
2244.0              1
2247.0              2
3021.0              1
3023.0              1
3029.0              1
3034.0              2
3035.0              1
3040.0              1
3042.0              1
3043.0              1
3047.0              1
3050.0              2
3053.0              1
3056.0              2
3059.0              1
3064.0              1
3070.0              1
3075.0              1
3081.0              1
3092.0              1
3204.0              1
3207.0              1
3209.0              1
3210.0              2
3212.0              1
3215.0              2
3221.0              1
3226.0              1
3227.0              1
3229.0              1
3230.0              2
3232.0              1
3234.0              1
3238.0              1
3239.0              1
3245.0              1
3247.0              1
3248.0              1
3262.0              1
3995.0              1
3999.0              1
4022.0              1
4026.0              1
4027.0              1
4029.0              2
4030.0              1
4037.0              2
4041.0              1
4043.0              1
4045.0              1
4048.0              1
4206.0              1
4215.0              1
4217.0              1
4221.0              1
4226.0              2
4230.0              1
4236.0              1
4495.0              1
4496.0              1
4497.0              1
4515.0              1
5020.0              1
5023.0              1
5025.0              1
5032.0              1
5047.0              1
5048.0              1
5052.0              1
5094.0              1
5205.0              2
5206.0              1
5210.0              2
5211.0              3
5213.0              1
5214.0              1
5216.0              1
5220.0              1
5221.0              2
5225.0              1
5228.0              1
5230.0              2
5231.0              1
5233.0              2
5234.0              1
5237.0              1
5239.0              1
5240.0              2
5241.0              1
5242.0              1
5245.0              1
5247.0              2
5250.0              1
5253.0              1
5282.0              1
5508.0              1
5511.0              1
5526.0              1
5555.0              1
5556.0              1
6002.0              3
6012.0              1
6014.0              1
6016.0              1
6018.0              1
6019.0              4
6021.0              2
6022.0              4
6023.0              3
6024.0              3
6025.0              5
6026.0              2
6027.0              4
6028.0              4
6029.0              6
6030.0              6
6031.0              2
6032.0              6
6033.0              2
6034.0              9
6035.0              8
6036.0              4
6038.0              2
6039.0              5
6040.0              4
6041.0              5
6042.0              1
6043.0              5
6044.0              2
6045.0              4
6046.0              1
6047.0              4
6048.0              3
6049.0              5
6050.0              2
6051.0              3
6052.0              5
6053.0              1
6054.0              2
6055.0              3
6056.0              3
6057.0              3
6059.0              2
6060.0              4
6061.0              4
6064.0              1
6065.0              4
6067.0              2
6068.0              1
6069.0              2
6070.0              1
6071.0              2
6072.0              1
6074.0              1
6077.0              2
6102.0              2
6106.0              1
6185.0              1
6187.0              1
6192.0              1
6202.0              1
6204.0              2
6205.0              1
6207.0              1
6210.0              2
6211.0              1
6212.0              2
6216.0              1
6220.0              1
6222.0              1
6228.0              1
6229.0              1
6230.0              1
6231.0              1
6236.0              1
6237.0              2
6239.0              1
6244.0              1
6250.0              1
6281.0              1
7026.0              1
7038.0              1
7046.0              1
7061.0              1
7082.0              1
7207.0              1
7210.0              1
7211.0              1
7213.0              1
7225.0              1
7228.0              1
7229.0              1
7230.0              1
7245.0              1
7247.0              1
7249.0              1
7275.0              1
7301.0              1
8041.0              1
9151.0              1
9211.0              1
9232.0              1
9262.0              1
9999.0            222
Unspecified    211201
Name: COLLISION_ID, dtype: int64

# CREATE CLEAN FILES

In [138]:
df_crash.to_csv('data/crash_clean.csv')
df_vehicle.to_csv('data/vehicle_clean.csv')
df_people.to_csv('data/people_clean.csv')